[2015-09-14 19:33] machikoyasuda opened #1 "Checklist for 9/23 edition:"
## Organizers:
- @machikoyasuda
- @kitpearson
## Beforehand
- [x] Make Meetup invitation
- [x] Ask @learningnerd to cross-post to Learn to Code LA Meetup
- [x] Make nitpicks on members' latest submitted code
## Day of
- [x] Send e-mail. Add directions/parking information to invite.
- [x] Signs for the sidewalk/doors
- [ ] Nametags
- [x] Sign-in sheet
- [x] Snacks + Beverages
- [x] Projector set-up

[2015-09-24 17:22] #1 closed, assigned to nobody

[2015-09-24 17:23] machikoyasuda opened #3 "What to do if we have over 20+ people?"

[2015-09-24 17:23] machikoyasuda opened #4 "What to do if people can't get Exercism installed?"
Alternatives:
- Three-person pair
- Work on someone else's machine
- http://nodeschool.io - Command Line installation, has a very good beginner JavaScript tutorial
- Learn Command Line / Ruby / Python the Hard Way
- Codecademy, Khan Academy

[2015-09-24 17:23] machikoyasuda opened #5 "I need to be added to the DTLA Pair Programming team!"
Comment with your GitHub handle here.

[2015-09-25 08:10] alexandru-calinoiu commented on #4
Not an answer to your question but more a prevention

Compile a list of common causes this might happen and come up with answers, this can be a good section for the wiki.

[2015-09-25 18:00] machikoyasuda commented on #3
Have a group of 3-6 people work in the one big table in the upper area.

[2015-10-05 01:28] machikoyasuda commented on #4
@learningnerd wrote a great Windows installation guide: http://learningnerd.github.io/2015/05/06/exercism/

[2015-10-06 21:48] machikoyasuda opened #6 "10/7 - Pair Programming - Send a Review + Next Invite"
## New for this session:
1. Shout out :+1: for those who worked on Exercisms over the past two weeks.
2. Stand up :star: Question: `What was the last code thing you worked on (Exercism or not)`, `where did you get stuck?`
3. `Bonus Challenge`: Work on a problem you've already done before, and do it using a new technique, like promises, not using case statements, .map...
## Rest of the Regular Sche

[2015-10-08 19:08] machikoyasuda commented on #6
## Retrospective:

1. Topics discussed:
- rocket ship operator `array <=> other_array`
- ruby: `.zip` http://ruby-doc.org/core-2.2.3/Array.html
- javascript: `.reduce` https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/Reduce

2. Problem discussed: Hamming in Ruby and JavaScript
- Submitted by members:
- http://exercism.io/submissions/2bcc63b938064bd7bf65e87bfd8

[2015-10-08 21:16] machikoyasuda commented on #6
## What we learned last week:
1. :arrow_backward: :arrow_forward: Do you know how to use the **rocket ship operator** `<=>`? Use it in any language to compare from both sides: `array <=> other_array`
2. :gem: **Ruby** `.zip` an `Array`: [`.zip`](http://ruby-doc.org/core-2.2.3/Array.html), Combines and weaves :scissors:  two Arrays together into a multidimensional array. Used in Hamming by Kirk: ht

[2015-10-22 03:05] machikoyasuda opened #7 "Windows Installation Guide"
1. Installing and editing the PATH http://learningnerd.github.io/2015/05/06/exercism/
2. Jasmine-Node: Installing Node http://blog.teamtreehouse.com/install-node-js-npm-windows - Remember to restart

[2015-10-22 04:09] machikoyasuda commented on #5
@mijoru

[2015-10-22 17:31] ghost commented on #5
easyspirit

[2015-10-22 21:03] #6 closed, assigned to nobody

[2015-10-22 21:03] #3 closed, assigned to nobody

[2015-10-22 21:04] machikoyasuda commented on #5
@easyspirit I invited you! You should get an e-mail invitation shortly from Exercism.io, to the e-mail address associated with your GitHub account.

[2015-10-23 05:53] kennethlee opened #8 "Beginner's Guide to Preparing for Pair Programming Night"
## Welcome to Eastside Pair Programming Night!

Hello, and welcome to Pair Programming Night! We're excited you could join us.

This guide is intended to bring neophytes up to speed so that they may hit the ground running come meetup night.

---
### Some Info
##### What is Pair Programming?

Two programmers sit side-by-side in front of one computer. One person takes the role of the driver (the per

[2015-10-23 07:50] machikoyasuda commented on #8
I decided to put this in the Wiki: https://github.com/machikoyasuda/dtla-pair-programming/wiki/Onboarding

Can you edit the Wiki @kennethlee? Please feel free to add/edit.

Screenshots might be nice.

[2015-10-23 07:51] #8 closed, assigned to nobody

[2015-10-23 07:53] machikoyasuda commented on #8
@kennethlee https://github.com/machikoyasuda/dtla-pair-programming/wiki !!

[2015-10-23 07:57] #7 closed, assigned to nobody

[2015-10-23 22:58] kennethlee commented on #8
@machikoyasuda Yep, looks like I am able to edit the Wiki :+1:

[2015-10-27 18:53] machikoyasuda opened #9 "Next meetup: RNA Transcription - Discuss organizing code into classes, etc."
## Stuff to Highlight
- Compile and highlight all the recent useful nitpicks from people's exercisms,
- Compile and highlight new or interesting methods, patterns. Ask people to present something new they've used and learned.
- **Code Demo** - highlight a CodePen/Gist example that people can try out too
## JavaScript
- @ashwell - http://exercism.io/submissions/956786105e1349ffa31b4381caa1e2b9?i=1

[2015-10-27 18:57] rebelwarrior commented on #9
There is a great book for ruby called Practical Object Oriented Design in Ruby by Sandy Metz.

[code]
- JavaScript
  @ashwell - http://exercism.io/submissions/4911554777bb4e7f82405c92e77d8626
  @machikoyasuda - http://exercism.io/submissions/fc712a56e8e54076b15b145219c8885d
- Ruby
  @kennethlee - http://exercism.io/submissions/10c2d8eab99c454da6b426603338b578
  @rebelwarrior - http://exercism.io/s

[2015-10-27 18:58] machikoyasuda commented on #9
hi @rebelwarrior :) I have that book and I just started it! I will use it to figure out a mini-lesson for the next meetup.

ps. you are the #1 exercism warrior on our team.

pps. come out to the next meet-up! next week, not this week.

[2015-10-27 21:03] machikoyasuda opened #10 "Better installation script for Macs w/o Ruby, Homebrew, XCode, etc."
@kpearson is working on this :)

[2015-10-28 00:07] kennethlee commented on #9
A discussion about code organization is a great idea!

On Tue, Oct 27, 2015 at 11:58 AM, Machiko Yasuda <notifications@github.com (mailto:notifications@github.com)> wrote:

--
Kenny Lee
(909) 263-3497
GitHub (https://github.com/kennethlee)

[2015-10-29 18:26] machikoyasuda opened #11 "Start a collection of Codepen.io demos to share and learn from"
- React / ES6 - http://codepen.io/Patrick_Nth/pen/xGBJPa

[2015-11-20 19:42] #9 closed, assigned to nobody

[2015-11-20 19:42] #5 closed, assigned to nobody

[2015-11-20 19:42] #4 closed, assigned to nobody

[2015-11-20 19:43] #11 closed, assigned to nobody

[2015-11-20 19:43] machikoyasuda opened #13 "Log of Windows installation issues"

[2015-11-20 19:43] machikoyasuda commented on #13
Windows 10 / Setting the PATH

[2015-11-20 19:43] machikoyasuda opened #14 "Exercism: Wiki of "code smells" for nitpicking"

[2015-11-22 17:55] kennethlee commented on #14
I'll get started on this.

I'm going to try to keep it as light and approachable as possible so as to be beginner-friendly.

[2015-11-23 18:48] machikoyasuda commented on #14
example: http://exercism.io/submissions/e3b4a0a869af4c25af828bdb12d631d2

Whenever you are looping through a collection and find yourself writing a conditional (if or unless) nested inside of the loop, take a moment to look through the available enumerable methods.

There are some very handy ones that might let you simplify.

[2015-11-23 18:49] machikoyasuda commented on #14
Here are all of Rikki's automated comments: https://github.com/exercism/rikki/tree/master/comments/analyzer/ruby

[2016-02-12 19:33] machikoyasuda opened #15 "Exercism & Pairing & Projects: Make a simple true/false questionaire"
Questions to ask:
- I have used command line
- I am comfortable using the command line: moving and changing directories, running files
- I have written code in a text editor (like Atom, Sublime Text)
- I have written a test and run it (examples: Rspec, Jasmine)
- I have written a function that takes in data and returns data (like a Ruby method or a JavaScript function)

Adding:
- I have a GitHub.c

[2016-02-12 21:00] kpearson commented on #15
Questions about git and Github would give us insights, including the ability to setup and use the Exercism cli.
- I have a Github account
- I am comfortable using git to clone a repository form Github

[2016-02-22 19:34] kennethlee opened #16 "It's ok to not understand."
While observing newbies, I've sometimes noticed they tend to be pretty averse to asking questions, presumably, for fear of appearing unintelligent. For the same reason, they will also say that they understood an explanation despite being betrayed by their body language.

This is not a good thing.

I'm gonna mull over this for a bit and write up a doc for the wiki with some suggestions on things th

[2016-02-22 21:34] machikoyasuda commented on #16
It is also okay to not know the answer to a question someone just asked you. :)

[2016-02-23 07:34] kennethlee commented on #16
Yep, of course. In which case we can figure out the answer together :computer:

[2016-03-23 19:17] #16 closed, assigned to nobody

[2016-03-23 19:17] #13 closed, assigned to nobody

[2016-03-23 19:17] #10 closed, assigned to kpearson

[2016-03-23 19:17] machikoyasuda opened #18 "Pairing & Projects: Who wants to pair on open source projects?"
I have issues brewing for this one: https://github.com/exercism/exercism.io

Instructions for set-up: https://github.com/exercism/exercism.io/blob/master/CONTRIBUTING.md

[2016-03-23 19:52] machikoyasuda commented on #18
Example: https://github.com/exercism/exercism.io/pull/2807

[2016-03-23 20:12] kennethlee commented on #16
I totally dropped the ball on this. :-1:

I have a rough draft going and will finish it/add it to the wiki by the end of the week.

[2016-03-23 20:14] kennethlee commented on #18
I'm down (my Ruby is getting pretty rusty, though).

[2016-03-23 21:19] machikoyasuda commented on #18
Some instructions on getting set up to do so:
- https://github.com/exercism/exercism.io/blob/master/CONTRIBUTING.md
- set up github exercism project on github.com
- fork
- clone fork
- cd into project
- bin/setup
- edit env
- rake db:reseed
- run server:  bundle exec foreman s -p 4567
- find/choose an issue to work on: https://github.com/exercism/exercism.io/blob/master/CONTRIBUTING.md

Also usefu

[2016-03-23 21:31] machikoyasuda opened #19 "Other pairing meetup ideas:"
# stand up
- "What challenges have you had lately in whatever coding tutorials/books/side projects you're working on?
- List on white board what problems (Exercism problems/languages or side projects) people want to pair on & pair off that way
# pairing
- Pairing on open-source projects + writing tests
- Pairing on personal open-source projects + writing tests
- Pairing on learn-to-code exercises/

[2016-03-23 22:15] machikoyasuda commented on #14
-- Naming: http://www.sitepoint.com/whats-in-a-name-anti-patterns-to-a-hard-problem/
-- Naming: http://blog.thecodewhisperer.com/permalink/a-model-for-improving-names

[2016-03-23 22:17] machikoyasuda commented on #14
-- Style: https://github.com/thoughtbot/guides

[2016-03-23 22:39] machikoyasuda commented on #19
https://github.com/jkutianski/meetup-api/wiki/API-Methods-List meetup rsvp parsing

[code]

[2016-03-26 01:25] machikoyasuda commented on #14
@kennethlee sorry to switch things up but can you make this as a file in the repo instead? https://github.com/fullstackla/pairing-meetup/wiki/Code-Smells

[2016-03-26 01:25] machikoyasuda commented on #14
@kennethlee this is a nice list to incorporate too: http://lasoftwarecraftsmanship.com/clean-code-checklist/

maybe we can have 2 lists:
1. code smells to check for
2. clean code checklist

they are kind of inverses of each other. heh

[2016-03-26 18:48] kennethlee commented on #14
@machikoyasuda That clean code checklist is helpful. It's also worded plainly enough so as to be pretty easy for newbies to grasp/understand so instead of reinventing the wheel by paraphrasing it, I emailed the author asking if we could add it to our repo as-is. I'll come back with his reply.

[2016-03-28 18:42] machikoyasuda opened #22 "Make a welcome email to send to new people who sign up on Meetup.com"
- [ ] Suggest our list of favorite meetups for learning languages/frameworks

[2016-03-28 19:09] kennethlee commented on #14
@machikoyasuda Michael Rice (the organizer for LA Software Craftsmanship meetup) got back to me over the weekend and graciously gave us permission to use their Clean Code Checklist. See PR #23

[2016-06-03 17:40] #14 closed, assigned to nobody

[2016-06-03 17:40] #15 closed, assigned to nobody

[2016-06-03 17:40] #18 closed, assigned to nobody

[2016-06-03 17:40] #19 closed, assigned to nobody

[2016-06-03 17:42] machikoyasuda opened #24 "Pairing version 2.0"
### Name: "Open Source Pair Programming"
### Same Focus:
1. Pair Programming
2. Agile Practices with real-world collaboration processes: Stand Up, Retros, MVPs, pairing, testing
3. Free & Open Source tools: Git, Atom, GitHub, projects
### Mission & Why?

We want people to practice carefully listening, observing others, talking to each other, teaching and learning from each other. Practice coding e

[2016-06-03 20:46] IanDCarroll commented on #24
One thing that we haven't done in past pairing is retros. We usually just devolve into general conversation and leave.

I have very much enjoyed and found use in the current practice. If this is that, but more so, I'm all in.

Also, I'd be interested in a list of legit meetups for the other stuff.

[2016-06-03 20:53] machikoyasuda commented on #24
@IanDCarroll have you been to NodeSchool yet? that would be my #1 recommendation for JavaScript. i'm not as familiar with Python. but yes, we can definitely make a "list of meetups run by our friends" list.

[2016-06-04 00:28] machikoyasuda opened #25 "List of our favorite LA meetups"
Add your  #favorite/your LA meetup + link + description here

Here I'm defining meetup as somewhere where you bring your laptop and actually code. Not talks.

Eventually we will publish this on GitHub / our site.

[2016-06-04 00:30] machikoyasuda commented on #25
### JavaScript - West
- JavaScript / NodeSchool / Saturdays, monthly / Westside / http://nodeschool.io/los-angeles/ - front-end JS, back-end JS, lots of mentors, good space, lots of parking, pizza. Legit.
- Learn to Code study group for JS: http://www.meetup.com/LearnToCodeLA/events/231581165/ in Culver City - casual coworking style
- Women Who Code one-off JS workshops: http://www.meetup.com/Wome

[2016-06-04 00:30] machikoyasuda commented on #25
### Meetups hosted by dev shops:

### Slightly more advanced full-stack things
- LA Software Workshops: multilingual, full-stack application workshops / some beginner, some intermediate/advanced / Downtown LA, weeknights and weekends - run by 8th Light consultancy in downtown http://www.meetup.com/LA-Software-Workshops/

### General one-off - West
- Pivotal Labs: THE OG - Pair Exchange and Extreme

[2016-06-04 00:33] machikoyasuda commented on #25
### Ruby & Rails - East
- Learn to Code LA: Beginner Ruby South Pas Study Group http://www.meetup.com/LearnToCodeLA/events/231125799/
- Learn to Code LA: Monday Nights / Front End Project workshop nights at Tom n Toms in Little Tokyo
  http://www.meetup.com/LearnToCodeLA/events/231402097/
- LA Eastside Ruby: Problem Sets @ Panera Bakery in Glendale - longest running Ruby meetup in LA ever?! <3 htt

[2016-06-04 00:50] machikoyasuda commented on #25
### CSS
- http://www.meetup.com/CSS-LA/ @cssla

[2016-06-04 01:12] machikoyasuda commented on #24
@IanDCarroll what do you think of this? https://github.com/fullstackla/pairing-meetup/issues/25 #25

[2016-06-04 05:27] IanDCarroll commented on #25
It's a seemingly comprehensive list. Thanks for going to the trouble to make it :) You've failed to miss anything I would have added.

[2016-06-07 17:35] machikoyasuda opened #26 "Protocol for sharing commits for paired-code on OSS projects"

[2016-06-07 17:41] machikoyasuda commented on #25
### One-off events:
- Rails Girls LA
- Django Girls
- Linux Chix http://linuxchixla.org/

[2016-06-07 18:01] machikoyasuda opened #27 "Bring in local open source contributors for guest speakers/guest mentoring"

[2016-06-07 18:01] machikoyasuda commented on #27
- RVM
- Hoodie

[2016-06-07 18:02] machikoyasuda opened #28 "Come up with list of non-coding issues"
List of issues that don't involve coding:
- Documentation
- Design

[2016-06-07 18:45] jendiamond commented on #28
Credit for pairing

[2016-06-07 18:47] machikoyasuda commented on #28
@jendiamond that is here: https://github.com/fullstackla/pairing-meetup/issues/26 :D

I meant more like "Come up with a list of issues that non-coders can do, like design and documentation"

[2016-06-07 18:52] jendiamond commented on #27
Shannon Skipper - maintainier of RVM & CHRuby
Claudio - Rails contributor

[2016-06-09 02:09] malinatran commented on #24
As someone who has yet to contribute to open-source projects, would love to participate and learn from those with experience in doing this!

[2016-06-09 21:44] machikoyasuda opened #29 "Come up with True/False questionnaire"

[2016-06-10 20:04] leighphan commented on #25
### **General - Long Beach**
- Code & Coffee: Casual hack morning; open office space; helpful, welcoming folks!
  http://www.codeandcoffeelb.org/
  http://www.meetup.com/lbtech/events/221553831/

[2016-06-10 21:19] machikoyasuda opened #30 "Go thru Hoodie issues and find something to work on"

[2016-06-10 21:43] karimamer commented on #25
http://www.fplongbeach.com/

[2016-06-11 05:54] karimamer commented on #25
code and coffee changed their meetup page http://www.meetup.com/code-and-coffee-Long-beach/

[2016-06-21 03:38] machikoyasuda opened #31 "Tuesday, Jun 21 - Scratch Pad + Summary"
![screen shot 2016-06-20 at 8 37 02 pm](https://cloud.githubusercontent.com/assets/3673236/16217298/e666d2ae-3726-11e6-9dea-178aab1b01d0.png)
- Screenshot of issue
- Explain it in words
- Clone the repo and look for it

[2016-06-22 18:43] machikoyasuda commented on #31
test https://github.com/exercism/exercism.io/pull/2954

[2016-06-23 00:50] machikoyasuda commented on #27
- https://github.com/jdorfman/awesome-help-wanted

[2016-06-23 17:47] machikoyasuda opened #32 "10 min. lightning talk, up for grabs: Using binding.pry for Ruby debugging"

[2016-06-23 17:49] machikoyasuda opened #33 "10 min. lightning talk: Using debugger; for JavaScript debugging"

[2016-06-23 18:06] machikoyasuda opened #34 "Tuesday, June 28th: Potential Issues to work on"
1. Code: Keep working on the last PR from last week https://github.com/exercism/exercism.io/pull/2954
2. Specs: Write specs for that PR
3. Learn a new tool: Have people test out binding.pry, debugger.
4. Continue to use a not-new tool: Use GitHub issues instead of Mopad.
### How to use GitHub at the Pairing Meetup:
- If you get a really bad installation bug, make an Issue. Describe the bug.
- If y

[2016-06-23 18:07] machikoyasuda commented on #34
https://github.com/jdorfman/awesome-help-wanted @jdorfman

[2016-06-23 19:54] machikoyasuda commented on #28
@leighphan testing

[2016-06-23 21:48] IanDCarroll commented on #28
just brainstorming:

posts of pics and recap of the group's and the project's progress on social media or a super-special blog. Basically: media/marketing.

Also organization. Someone who can organize the project's issues's and assign appropriate work so more people can be on-boarded quickly. That'd probably be the owners' realm, tho.

[2016-06-23 22:12] kennethlee commented on #32
I'd be interesting in hearing this one.

[2016-06-23 22:13] machikoyasuda commented on #32
@kennethlee have you used pry before?? just curious. it will help me make a better talk. how else do you debug ruby/rails stuff otherwise?

[2016-06-23 22:29] kennethlee commented on #32
@machikoyasuda I honestly don't remember much about it; my past exposure to it is limited to the few times I've played around with it.

[2016-06-24 04:02] jaimemendozadev commented on #32
I'd also be interested in hearing this talk.

[2016-06-29 00:03] machikoyasuda opened #35 "Known issue: Exercism + Vagrant install is causing problems"
@jendiamond and @server-monitor have a Vagrant bug.

[2016-06-29 00:19] machikoyasuda opened #36 "How to git pull from the place you forked from"
http://stackoverflow.com/questions/3903817/pull-new-updates-from-original-github-repository-into-forked-github-repository

[2016-06-29 02:00] machikoyasuda commented on #34
If you need to be added to exercism team, comment here with your Github name!

[2016-06-29 02:02] machikoyasuda opened #37 "Parking strategies"
We have $10 validation for the area.

Cheaper parking options in the area? Share.

[2016-06-29 02:10] machikoyasuda commented on #37
- Adventurous free parking spot: https://www.google.com/maps/place/LAUSD/@34.0562413,-118.2595508,17z/data=!3m1!4b1!4m5!3m4!1s0x80c2c7adc8a5ea1d:0x97faa50d6dddccfd!8m2!3d34.0562369!4d-118.2573621
- Take this walk: https://www.dropbox.com/s/jren8e6pln3skun/Screenshot%202016-06-28%2019.10.11.png?dl=0

[2016-06-29 02:12] machikoyasuda commented on #37
- 300 S Grand Ave, $11

[2016-06-29 02:23] machikoyasuda commented on #34
`lenkli67:team-pagination` https://github.com/exercism/exercism.io/pull/2954

[2016-06-29 02:58] machikoyasuda commented on #34
### Checking out an unmerged remote pull request

Follow these instructions: https://help.github.com/articles/checking-out-pull-requests-locally/
- Make sure `upstream` is set to be `https://github.com/exercism/exercism.io.git (fetch)`
- Check by running `git remote -v`
1. `git fetch upstream pull/2954/head:team-pagination`
2. `git checkout team-pagination`

thanks @jendiamond @thomasjinlo @lenkli

[2016-06-29 03:48] jendiamond commented on #34
@machikoyasuda
@jendiamond
- Chad
- jeff
- ed
- anna
- michael
- andre
- hashim lisa
- ranit
- ian
- kenny
- eddy
- emeril
- david
- Jim
- natalie
- thomas
- lena

[2016-06-29 03:53] kennethlee commented on #34
@kennethlee
@jim6652

[2016-06-29 03:54] MrExeter commented on #34
@MrExeter

[2016-06-29 03:54] ghost commented on #34
@edvernon

[2016-06-29 03:54] hash167 commented on #34
@hash167

[2016-06-29 03:55] davidtansf commented on #34
@davidtansf

[2016-06-29 03:55] server-monitor commented on #34
michael => @server-monitor

[2016-06-29 04:07] machikoyasuda commented on #34
Fix: Fixes test_managing_a_team_as_sole_manager failing spec
- Adds params['page'] or 1, in case params['page'] is nil, in the case of a brand new team without any problems.
- Open Source Pair Programming in LA: Paired
  at IndieDesk with @jendiamond, @lenkli67, @
  kennethlee, @jim6652, @mrexeter, @edvernon,
  @hash167, @davidtansf, @server-monitor

[2016-06-29 04:32] IanDCarroll commented on #37
For the adventurous, there is a solution that transfers monetyary cost to calorie cost, wear on your feet and possible problems being eaten by alligators and/or falling into Narnia. Also it's an adventure not recommended for late nights by yourself. But it's a magical journey.

 Thanks to Machiko for suggesting it, but find me for secret parking knowledge ;)

[2016-06-29 07:12] IanDCarroll commented on #34
[code]

[2016-06-29 07:25] IanDCarroll opened #38 "Needs help installing Ruby/RVM/Rails/Postgres"
What are some low-skill contributions noobs(like me) can make?
These are the "Shovel the latrine" or "De-gum the cafe tables" tasks.
they should be:
1. Low-skill so the barrier to contribute is lowered.
2. Highly annoying/tedious that the level-20 Coders shouldn't waste time on.
3. Highly useful/necessary so it's a real contribution.

For those who are fearlessly willing to don their rubber gloves

[2016-06-29 15:00] jaimemendozadev commented on #37
Small parking lot located at 200 S Olive St, Los Angeles, CA 90012 (corner of 2nd and Olive St.).

Parking is roughly $6 after 4 p.m.

*Caveats:
1) It's a VERY small parking lot on a hill.
2) You can only enter by making a right on Hill St. and entering the lot through there.

[2016-06-29 17:48] machikoyasuda commented on #38
@IanDCarroll have you been able to get Exercism.io running locally on your computer?

[2016-06-30 01:52] IanDCarroll commented on #38
forked the repo, if that's what you mean. I think I have the environment set up with relating to this repo, my own and exercism's in the kosher configuration.

[2016-06-30 08:11] machikoyasuda commented on #38
Were you able to run the bin/setup and the foreman command and open localhost:4567 on Chrome and log in?

On Wed, Jun 29, 2016 at 6:52 PM -0700, "Ian Carroll" notifications@github.com wrote:

forked the repo, if that's what you mean. I think I have the environment set up with relating to this repo, my own and exercism's in the kosher configuration.

—
You are receiving this because you commented.

[2016-07-01 20:24] IanDCarroll commented on #38
I am having trouble understanding how to run the bin/setup. With what do I run it? I tried RVM, but either that's not right, or I need to configure RVM first.

[2016-07-01 21:27] machikoyasuda commented on #38
You make sure you are in the directory for exercism and then you type "bin/setup" and then you press enter on your keyboard

On Fri, Jul 1, 2016 at 1:25 PM -0700, "Ian Carroll" notifications@github.com wrote:

I am having trouble understanding how to run the bin/setup. With what do I run it? I tried RVM, but either that's not right, or I need to configure RVM first.

—
You are receiving this becau

[2016-07-01 21:27] machikoyasuda commented on #38
type bin/setup. no quotation marks. 

On Fri, Jul 1, 2016 at 2:26 PM -0700, "Machiko Yasuda" machikoyasuda@gmail.com wrote:

You make sure you are in the directory for exercism and then you type "bin/setup" and then you press enter on your keyboard

On Fri, Jul 1, 2016 at 1:25 PM -0700, "Ian Carroll" notifications@github.com wrote:

I am having trouble understanding how to run the bin/setup. With

[2016-07-01 22:28] machikoyasuda commented on #38
Type bin/setup into Terminal (or whatever you use) and click Enter on the keyboard and make sure you are in the exercism repository with the code that turns exercism (not the directories with all your exercism problem codes).

[2016-07-01 22:41] machikoyasuda opened #39 "Possible Talk: Post-project retro"
Talk about lessons learned while doing https://github.com/fullstackla/pairing-meetup/issues/55

[2016-07-01 22:46] #24 closed, assigned to nobody

[2016-07-01 22:46] #26 closed, assigned to nobody

[2016-07-01 22:46] #31 closed, assigned to nobody

[2016-07-01 22:46] #32 closed, assigned to nobody

[2016-07-01 22:46] #34 closed, assigned to nobody

[2016-07-01 22:50] machikoyasuda opened #40 "First-Timers: Turn this favorite list of meetups list into a static github page"
https://github.com/fullstackla/pairing-meetup/issues/25

This assignment is for first-timers looking to:
- Write CSS
- Write HTML
- Deploy a website on GitHub
- Use Git
- Use Terminal
- Do something useful for your friends and community

Task:
- Take the content from this list https://github.com/fullstackla/pairing-meetup/issues/25
- And turn it into a website
- Optional: Add a map
- Optional: Mak

[2016-07-01 22:52] #35 closed, assigned to nobody

[2016-07-01 22:52] #36 closed, assigned to nobody

[2016-07-01 22:52] #37 closed, assigned to nobody

[2016-07-01 22:58] IanDCarroll commented on #39
Talk to be given 7/12 :+1:

[2016-07-02 20:39] IanDCarroll commented on #38
I've had some problems with RVM, but I think I've mostly gotten through them. The current problems have something to do with postgreSQL, I think. I tried creating a template1 DB with my name as a user, but now when I run `bin/setup` I get

[code]

If i try `sudo bin/setup` I get:

[code]

running `rvm list rubies` i get

[code]

running `ruby -v` I get `ruby 2.2.2p95 (2015-04-13 revision 50295) [x

[2016-07-05 21:19] machikoyasuda opened #41 "5 min. follow-along on binding.pry"

[2016-07-05 21:20] machikoyasuda opened #42 "10 min. follow-along on JavaScript chrome devtools"

[2016-07-05 21:55] jendiamond opened #43 "Tuesday, July 5th 2016 - Scratch Pad + Summary"

[2016-07-05 21:57] jendiamond commented on #16
Are you still doing this? It sounds super useful. :)

[2016-07-05 22:40] kennethlee commented on #16
@jendiamond It's been a little while so I'm fuzzy on the details (note: I have a terrible memory), but I thought I did create a page for this in the wiki? I could be confusing another task for this one, though.

Anyway, feel free to take this task upon yourself if you'd like; otherwise, I'll try to make another write up by next week.

[2016-07-05 22:42] machikoyasuda commented on #16
Hot unsolicited tips:
1. Always post a link to the-thing-you-worked-on to the Issue page. Then no one will ever forget where/what happened.
2. As we all go along our code-learning journeys, if you come across even one lesson we the meetup organizers and attendees can learn from, it's perfectly 100% awesome to just post that one thing. We don't need long things. You can add one tip at a time!! Agil

[2016-07-05 22:44] machikoyasuda commented on #38
I am retitling this issue to your installation bug/needs help. We can solicit other members to help you in person or via this issue.

There are definitely other ppl in this meetup that have gotten that `sudo bin/setup` bug you ran into.

[2016-07-05 22:57] kennethlee commented on #16
1. Yeah, failing to leave a link here to the finished piece was an oversight.
2. Good point. I'll create a page now and start it off with just a line or two.

[2016-07-05 22:58] machikoyasuda commented on #16
You can make a PR to add a .MD file in our regular repo if you want!
Or  a wiki. Will eventually deprecate the wiki I think and just make people add MD files here instead.

[2016-07-05 23:41] kennethlee commented on #16
Ok, I think this was it: 9f639ab. I also just added PR #44

I feel like we can further distill what's already there and add more to it.

[2016-07-06 02:37] hash167 commented on #43
bundle exec rake test TEST=test/acceptance/team_test.rb

[2016-07-06 02:37] server-monitor commented on #43
# Run one mini test...

ruby path/to/test/file_test.rb --name name_of_test_method_name

# Example...

ruby test/exercism/user_test.rb --name test_user_not_a_guest

ruby test/acceptance/team_test.rb --name test_managing_a_team_as_sole_manager

[2016-07-06 02:53] jendiamond commented on #43
Kit says:The Mystery Guest

[2016-07-06 08:13] IanDCarroll commented on #38
That's super helpful! This seems to be a few bugs/inexeperience tangled together, so even getting a few bits unwound would be killer! :neckbeard:

[2016-07-06 19:35] kpearson commented on #43
[The mystery guest](http://xunitpatterns.com/Obscure%20Test.html#Mystery%20Guest) testing anti-pattern is where the test reader is not able to see the cause and effect between fixture and verification logic because part of it is done outside the Test Method.

An blog post that I think covers this well is [mystery-guest](https://robots.thoughtbot.com/mystery-guest) by [Dan Croak](https://twitter.co

[2016-07-07 07:56] IanDCarroll commented on #16
This could be relevant to inclusivity:
 <a href="https://medium.com/@codepo8/things-not-to-say-on-stage-at-a-tech-event-178337b8c481#.yeme0f3gc">things not to say on stage at a tech event</a>
reminds me of some things already talked-about.

[2016-07-07 18:23] #43 closed, assigned to nobody

[2016-07-07 18:24] machikoyasuda commented on #29
1. Have you made a static web page with HTML, CSS before and deployed it? T/F
2. Have you worked on an Rails app? T/F
3. Have you used Git on the Terminal and pushed or made a PR? T/F

We can then sort people into two-three groups:
1. First-Timers: learn how to make a static site on GitHub
2. App-makers: Want to focus on making their first/big app - want to focus on learning the framework
3. Adv:

[2016-07-07 18:26] #28 closed, assigned to nobody

[2016-07-07 18:26] #22 closed, assigned to nobody

[2016-07-07 23:52] machikoyasuda commented on #40
Closing this issue for now cos @IanDCarroll did it in https://github.com/fullstackla/pairing-meetup/pull/45

We can still add these for future issues:
1. Make a static map with these meetups. Use this tutorial: https://github.com/maptimeLA/git_your_map_here
1. Make it mobile friendly
2. Make index page for all our md files.

[2016-07-07 23:52] #40 closed, assigned to IanDCarroll

[2016-07-08 00:17] server-monitor commented on #29
Funny you should ask. I made a demo app for a presentation about
geo-location for my Ruby Meetup in my area. It's not a static site though
since it's a Rails 5 app. It is deployed to Heroku:

https://geo-locatr.herokuapp.com/

It's a simple app. You enter a host or domain name or IP address and the
app will tell you the street address. It will also show you the location on
the map using Google map

[2016-07-08 02:23] IanDCarroll commented on #29
Is this going to be distributed to people at the meetup?
When False, Should there be a thing to do to make it true?
Is this the best order to tackle basics if there are multiple falsenesses?

[2016-07-08 02:41] machikoyasuda commented on #29
@ian yes and yes
its our opiniom, of course. its to help us make groups of similarly-leveled people so everyone can work towards their own goals. we will find projects to work on that are appropriate for each level group. 

[code]

From: Ian Carroll notifications@github.com
Sent: Thursday, July 7, 2016 7:23 PM
Subject: Re: [fullstackla/pairing-meetup] Come up with True/False questionnaire (#29)
To

[2016-07-08 05:32] IanDCarroll commented on #29
**That sounds delightful!**
for me:
1. True (Could do more with CSS tho)
2. False
3. True

And another thing: Should we implement this after the standup? Here's a way I could see it work:
- **Break into 4 clusters:** 1F, 2F, 3F, and "Open-Source Bug Patrol"
- **We'd need 3 special someones** (Or 1 very brave soul) who has done it already to be so kind as to guide those groups (Or at least check up

[2016-07-08 07:03] jendiamond opened #47 "True/False questionaire for new folks: Points"
1. I've added css styles before
2. I know what a variable is
3. I know what an object is
4. I've created a method before
5. I've written a test before
6. I've built a project in Rails or Sinatra and put it online

[2016-07-13 02:09] jendiamond opened #49 "Tuesday, July 12th 2016 - Scratch Pad + Summary"
7-12-2016

@jendiamond
@MrExeter
@curvgrl5000
@lisamarie616
@postem1
@iandcarroll
@kennethlee
@havenwood
@stephaniewilkinson
@edvernon

$ bundle !!

pry-rescue

bundle exec rake test TEST=test/acceptamce/team_test.rb

== $0  - last selected dom element

page.all("a").map(&:text)

ls page
page.body
page.current_url

rake routes
visit('/teams/slate/
authorization header

Iser .pluck DICTINCT

Team.f

[2016-07-13 04:23] server-monitor commented on #49
Small typo. "acceptamce" instead of "acceptance". This won't run unless the folder is actually called "acceptamce".

[2016-07-13 07:30] jendiamond commented on #49
Great catch @server-monitor

[2016-07-13 09:56] server-monitor commented on #49
@jendiamond That's what I do. I monitor... hehehe

[2016-07-13 13:49] jendiamond commented on #49
@edvernon

Post test and name to add to current pull.  What is the location of test.

How to login to local running exercism?  Otherwise you are not allowed access to "next page".

Command to run test.

Is the test being run on a page that is being served live?  Or offline?

[2016-07-13 18:35] IanDCarroll opened #50 "design choices for local-meetup page CSS"
Before I try to tackle CSS, I'd like to ask for a discussion and general consensus on how the page should look.
1. what color scheme?
2. Layout?
3. Nav bar or other peripherals?
4. Logo/picture?
5. anything else I've missed in this quick list.

If I do it on my own, It'll be the webage equivalent of showing up at the school spring semi-formal dance in a Viking helmet and a cape. So input is very m

[2016-07-13 19:00] machikoyasuda commented on #50
the most important thing i would say is that it is legible and mobile-friendly. everything else is secondary.

[2016-07-13 19:10] machikoyasuda commented on #38
Resolved: https://github.com/exercism/exercism.io/issues/2969

Lesson learned: Knowing what directory you are in and being in the one configured with exercism matters. @IanDCarroll

[2016-07-13 19:10] #38 closed, assigned to nobody

[2016-07-13 19:20] IanDCarroll commented on #50
Excellent points. Legible shouldn't be too much of a problem. Mobile-friendly... might have to look into that.

But still I need an aesthetic direction to go in. I guess I could go off of that basic principle to inform most of my choices, but I still need to make specific choices. If no one has any suggestions for colors, I'll just have to make something up on my own. I didn't want to speak for th

[2016-07-13 19:21] machikoyasuda commented on #50
@IanDCarroll

good places to start/procrasti-work on aesthetics:

https://www.google.com/fonts#!

find a red/green color blind-friendly combo: http://colorbrewer2.org/

[2016-07-13 19:27] IanDCarroll commented on #50
I'm aware of the danger :smile:
:question: "procrasti-work" => related to "yakshaving"

This is my theatre background kicking in. I'm looking for **direction**. And just as you do on stage, design of any kind requires concrete consious well-considered **specific choices**.

But I guess I can just come to those on my own :smiling_imp:

I'll still be happy to take notes and make adjustments afterwar

[2016-07-13 19:28] machikoyasuda commented on #50
can we make this more like Improv where you just do / say whatever works best on 2 seconds notice?

[2016-07-13 19:29] IanDCarroll commented on #50
Ok, I can roll with that. :smile:

[2016-07-13 22:53] #50 closed, assigned to nobody

[2016-07-14 03:47] neoadventist opened #52 "Meetup Not in Downtown LA"
The Github Repo says that the meetup is is Downtown LA. This is Incorrect.

[2016-07-14 03:52] kpearson commented on #52
Can you provide a use case. :zap:

[2016-07-14 03:54] neoadventist commented on #52
Can you be more specific? @kpearson

[2016-07-14 03:57] server-monitor commented on #52
There's a meetup on Tuesdays at IndieDesk in DTLA. The one scheduled for today is located at MaxCDN.

http://www.meetup.com/la-fullstack/events/232548531/

[2016-07-14 03:59] kpearson commented on #52
Fixed 👟

[2016-07-14 03:59] #52 closed, assigned to nobody

[2016-07-14 07:14] IanDCarroll opened #54 "Noobie Outreach"
Maybe I'm thinking too far ahead here, but I think we ought to brainstorm some ways we might encourage the timid and new to learn about how awesome it is to work on projects with others and contribute to open source.

There's word-of-mouth, but I was wondering if there is anything else we can do to reach a target audience (If we're even ready for that).

[2016-07-14 14:27] machikoyasuda commented on #54
Do you think you would learn faster and better if there were more serious beginners like you? Do you want more serious beginners to pair with?
Our main issue is that we have to keep the newbie/experienced ratio balanced. We want experienced people who want to pair with even more experienced people to be able to do so. 
Also small group is easier to handle. My personal approach to outreach is: "if

[2016-07-14 18:00] machikoyasuda commented on #54
closing this for now :)

[2016-07-14 18:00] #54 closed, assigned to nobody

[2016-07-14 18:00] #49 closed, assigned to nobody

[2016-07-14 18:00] #29 closed, assigned to jendiamond

[2016-07-14 18:01] machikoyasuda commented on #47
Other ideas here: https://github.com/fullstackla/pairing-meetup/issues/29

[2016-07-14 18:02] #27 closed, assigned to nobody

[2016-07-14 18:02] #25 closed, assigned to IanDCarroll

[2016-07-14 18:03] machikoyasuda opened #55 "Project: Make map of favorite LA meetups"
Here is some documentation/tutorials/starter-template to follow: https://github.com/maptimeLA/git_your_map_here

This will help you:
1. Continue practicing going back and forth between Terminal, Chrome and Atom
2. Continue practicing Git commands (git status)
3. Learn how to run a server
4. Write some JavaScript

[2016-07-14 18:04] machikoyasuda commented on #55
@leighphan feel free to dig into this issue if you're interested!

[2016-07-14 18:18] IanDCarroll commented on #54
I suppose I don't know the balance we want to maintain.
Also, I guess this is more about a desire to get myself strong enough to start helping newer people.
Teaching is a useful way to learn it yourself.
Also this is because I'm feeling very good about what we're doing, and want to build things more. :smile:

[2016-07-14 18:23] machikoyasuda commented on #54
we want everyone to be learning and challenged more. so we don't want it to be 99% newbies. then the mentors will spend more time navigating vs. driving/coding.

i have faith that serious beginners will find the meetup and join and come when they're ready.

[2016-07-14 18:33] IanDCarroll commented on #55
all right, I can chew on this for a little bit! :grin:
@leighphan I don't have any answers, but I'd be happy to share the problem with you!

[2016-07-14 19:21] IanDCarroll commented on #55
Git your map here has a few dependencies that need to be installed first.
1. Git - likely you have it.
2. Sublime or Atom text editor. My guess is any text editor will do, so I'll try it with Vim or GVim.
3. Python 2.7 I'm pretty sure this comes standard on Mac. Also on Ubuntu.
4. QGIS
- this I'm not sure I have, but here's a general install page: https://www.qgis.org/en/site/forusers/download.htm

[2016-07-14 19:22] machikoyasuda commented on #55
You do not need to download QGIS or Python. You have all the tools already to make a JS map.

[2016-07-14 20:15] IanDCarroll commented on #55
So I got git_your_map_here running by it's lonesome.
Next step (probably tomorrow) figure out how to integrate it with the HTML and CSS we've got going on already.

![screenshot from 2016-07-14 13 06 30](https://cloud.githubusercontent.com/assets/14797009/16854299/2e765c30-49c5-11e6-9210-5c83b6bd92b3.png)

![screenshot_20160714-125924](https://cloud.githubusercontent.com/assets/14797009/16853997/f

[2016-07-14 20:58] gr2m commented on #30
we have some great issues prepared for your pairing pleasure: https://github.com/hoodiehq/camp/issues

[2016-07-14 21:07] machikoyasuda opened #56 "Project: Upgrade hoode-app-mapchat to new Hoodie"
Seeking pairs for: https://github.com/hoodiehq/camp/issues/14

Steps/Plans:
- [x] - 1. Install Hoodie pre-requisites
- [x] - 2. Install Hoodie
- [x] - 3. Go through a Hoodie tutorial
- [x] - 4. Fork and set up mapchat locally
- [ ] - 5. Then try to upgrade... :)

Seeking pairs wanting to do this together!

[2016-07-15 18:25] machikoyasuda commented on #55
Here's a mini-challenge: Try to change the map layer: http://leaflet-extras.github.io/leaflet-providers/preview/

[2016-07-15 19:17] machikoyasuda commented on #56
Started the repo here: https://github.com/fullstackla/hoodie-map-chat-demo

[2016-07-18 20:20] machikoyasuda opened #57 "Bookmarks of our favorite OSS projects"
## HTML/CSS level
- https://github.com/jlord/forkngo
- CSS Frameworks like Bootstrap, Foundation
## Mapping related
- Pelias geocoder https://github.com/pelias/pelias
- Safecast https://github.com/safecast
- Leaflet https://github.com/leaflet
- Data-gathering/gardening: Mapillary, OSM
## Offline first related
- hood.ie https://github.com/hoodiehq
## Ruby
- Exercism http://github.com/exercism/exerc

[2016-07-22 21:27] machikoyasuda opened #58 "Possible Talk: Summer of internship!"
Christine Javier

[2016-07-22 21:27] #30 closed, assigned to nobody

[2016-07-22 21:27] #47 closed, assigned to nobody

[2016-07-22 21:27] #41 closed, assigned to nobody

[2016-07-26 00:44] machikoyasuda opened #59 "Wed. July 27 - Notes"
### Stand Up
- @MachikoYasuda - looking for pair - https://github.com/fullstackla/hoodie-map-chat-demo + https://github.com/hoodiehq/camp/issues/14
- @IanDCarroll is working on https://github.com/fullstackla/pairing-meetup/issues/55 - do you want a pair?
- maybe @jaimemendozadev on reaction
  @jendiamond is working on https://github.com/exercism/exercism.io/pull/2981
### Announcements
- LA tech wo

[2016-07-26 01:07] jdorfman commented on #59
Can't wait. See you all Wednesday.

[2016-07-26 18:24] machikoyasuda opened #60 "2017 Talk idea: What's it like working at a open source company in LA?"
## Add to the potential line-up:
- Reaction Commerce
- Liferay

[2016-07-26 18:24] machikoyasuda opened #61 "July: Project of the Month - Hoodie"
Introduce project and get a few people going on it. Done and done :)

[2016-07-28 02:23] machikoyasuda commented on #59
@jendiamond hi

[2016-07-28 02:23] IanDCarroll commented on #59
I'm sure I'm not alone in exploring something with meteor

[2016-07-28 02:25] dj-m commented on #59
@machikoyasuda I'd vote for Homebrew as a project going forward

[2016-07-28 02:43] machikoyasuda commented on #59
https://tracker.hood.ie/

[2016-07-28 02:47] machikoyasuda commented on #59
`nvm install v4.4.7`
`node -v`
(verify that you have v4.4.7)
`npm install --global npm`
`npm -v`
(verify that you have 3.10.5)
`npm install`
`npm start`

## if you have the old hoodie already, you may have to run these as well

(if you have hoodie already)
`npm uninstall --global hoodie`
(take a breath in between rm -rf)
`rm -rf node_modules`
`npm install`

## npm install hoodie

npm install --sav

[2016-07-28 03:31] jdorfman commented on #59
### Changelog
- [Awesome JSON Datasets: Fixed Encoding issue](https://github.com/jdorfman/awesome-json-datasets/commit/be9391924065aec81bf7812c6bb434f6348ed887)
- [Awesome Help Wanted: Added Documentation Section](https://github.com/jdorfman/awesome-help-wanted/pull/12)
- [Awesome Help Wanted: Added more repos to Documention](https://github.com/jdorfman/awesome-help-wanted/pull/13)

[2016-07-28 03:36] IanDCarroll commented on #55
I've got the google spreadsheet with addresses.
I've installed mapbox geo-google into the google spreadsheet, and it appears to work.
I've got a mapquest api key and pointed it to the spreadsheet's url.
But when I try to run it, it stays stuck on this screen:
![screenshot from 2016-07-27 20 24 48](https://cloud.githubusercontent.com/assets/14797009/17200403/c3c3aaee-5439-11e6-85f0-52caa21bec20.png

[2016-07-28 03:58] jaimemendozadev commented on #59
Submitted a request to change the documentation:
https://github.com/jaimemendozadev/documentation/commit/e43981d7b437989655063d184fae2e73a652404f

*My small contribution for the night. 😄

[2016-07-28 22:48] machikoyasuda opened #62 "Tonight's Talk: Homebrew Summer of Code"
http://eirinikos.github.io/2016/06/02/summer-begins/

[2016-07-28 22:49] machikoyasuda commented on #62
Maybe a short talk :)

[2016-07-28 23:00] machikoyasuda opened #63 "Backlog: Videos of talks"

[2016-07-28 23:01] machikoyasuda opened #64 "Backlog: Email newsletter of LA OSS projects/news"

[2016-07-28 23:05] machikoyasuda opened #65 "Possible Talk: Mapillary / Leaflet / mapping libraries"

[2016-07-29 01:44] server-monitor commented on #65
I don't know what this is.

[2016-07-29 19:06] machikoyasuda commented on #65
@server-monitor We are going to get people to talk about these different JavaScript open source mapping tool libraries:

http://leafletjs.com/
https://github.com/mapillary/mapillary-js

First we will have people use the libraries to get familiar with it

Then we will invite devs to speak about it

And lastly we can work on issues to add new features/fix bugs for this open source project :)

[2016-07-29 19:15] machikoyasuda opened #66 "fullstack 🎃 Hacktoberfest edition, ft. CodeLabOC & Boba.js"
# Issue planning:

https://github.com/fullstackla/pairing-meetup/blob/master/hacktober_2016.md
# Remaining to dos:
- Make meetup.com invites
- Initiate carpooling/transportation conversations
- Keep adding issues to pair on

[2016-07-29 22:35] kennethlee commented on #65
I'd be interested in a talk on/project using leaflet

[2016-07-29 22:37] machikoyasuda commented on #65
@kennethlee you're in luck, we're working on one now using Leaflet/Hoodie: https://github.com/fullstackla/pairing-meetup/issues/56 https://github.com/hoodiehq/hoodie-app-mapchat/pull/14

We are also in the middle of updating the README on that repo cos it is not out of date.

[2016-07-29 22:37] #59 closed, assigned to nobody

[2016-07-29 22:38] machikoyasuda commented on #65
@kennethlee instructions i wrote up so far are here: https://github.com/fullstackla/pairing-meetup/issues/59#issuecomment-235786101

[2016-07-30 01:04] server-monitor commented on #65
@machikoyasuda Thank you for the enlightenment. How does Google maps relate to these tools? It's what I've been using in my personal projects. It would be interesting to learn other mapping tools though.

[2016-07-30 01:06] machikoyasuda commented on #65
@server-monitor the Google Maps API costs money after a certain point. Leaflet is a free open source alternative, which means: 1) you dont have to pay money to use it, 2) we can contribute to it, 3) they use OpenStreetMap data instead of private Google data

[2016-07-30 01:45] machikoyasuda commented on #62
@eirinikos can we organize here ? :)

[2016-07-30 01:46] #61 closed, assigned to nobody

[2016-07-30 01:52] #33 closed, assigned to nobody

[2016-07-30 01:52] #42 closed, assigned to nobody

[2016-07-30 01:55] machikoyasuda commented on #66
@leighphan this will be here for when you need it :)

[2016-07-30 01:57] machikoyasuda opened #67 "Possible Talk: Coding, testing, debugging Exercism"

[2016-07-30 01:58] #57 closed, assigned to nobody

[2016-07-30 05:10] server-monitor commented on #65
@machikoyasuda I tried it and it works!

https://mapmymeetups.herokuapp.com/meetup_events/leaflet

This awesome. There's no need for no stinkin' account setup and API key. I've been playing with maps lately. Google is OK I guess. They have a cap at 25k for the free account. Does leaflet/OSM have limits? I can't seem to find it anywhere in their docs.

[2016-07-30 05:46] machikoyasuda commented on #65
Woohoo!
I do not think Leaflet does... but the mal tiles might. For example, Stamen and MapBox provide custom map tiles hosted for a fee. You can ask the developers this through GitHub. And if they should add this answer to their website, you can suggest they add it with a PR :) 

On Fri, Jul 29, 2016 at 10:10 PM -0700, "Server Monitor" notifications@github.com wrote:

@machikoyasuda I tried it an

[2016-07-31 19:59] machikoyasuda commented on #66
@leighphan GitHub issues are a way for open source groups to organize their to-do lists for the project. We use this list to keep track of ideas we have for the meetup, assign tasks to members and to discuss the issues. I made this Issue to remind myself that one day we will want to do an open source pairing meetup in Fullerton.

[2016-08-01 01:34] eirinikos commented on #62
Sounds good! We're thinking about late August or sometime in September? Happy to talk about [Outreachy](https://www.gnome.org/outreachy/) in general, too. 😄

[2016-08-01 05:12] leighphan commented on #66
@machikoyasuda Thanks for opening this up! Would be awesome to do a collab meetup :)

[2016-08-01 18:08] machikoyasuda commented on #56
- https://github.com/hoodiehq/hoodie-app-mapchat/pull/14

[2016-08-01 19:11] IanDCarroll opened #68 "Wed. July 27 - Reviews"
Just got my CSM certificate, so that's immediately given me a new perspective. Hope I'm not rocking to boat in an unpleasant fashion here, please post questions about this process and anything that might be causing this to not be helpful! :neckbeard:

I noted a long time ago that we don't take any time to transparently inspect our progress, so I wanted to set up some rituals to allow that. The Rev

[2016-08-01 19:21] IanDCarroll commented on #68
I'll kick this off:
7/26/16
I learned to feel more comfortable with error messages and posting issues on GH when I got stuck. This has been productive for me because I have a better understanding of what kind of mindset is useful when encountering errors, and what actions are open for me to take in resolving them. I delivered a slightly more involved and better contributor to open source.

Here ar

[2016-08-01 19:24] machikoyasuda commented on #68
@IanDCarroll did you work with anyone or talk out loud with anyone or ask questions out loud with anyone on anything that helped you learn these things? what are you learning from the comments coming in from the issues you've posted? how did you learn things that you could not have learned necessarily if you were working solely by yourself?

[2016-08-01 19:45] IanDCarroll opened #69 "Wed. July 27 - Retro"
This is the second of the end-of-meetup rituals that I brought up in issue #68 . while review is about what we accomplished, the retrospective is about what we can do to make it even more awesomer.

**What is the retrospective?**
The Retrospective, or Retro, is our opportunity to inspect and adapt the way we go about getting things done. Issues brought up here center around anything that could be

[2016-08-01 19:58] IanDCarroll commented on #69
7/26/16
I didn't see the whole group, but from my perspective, I felt like me being there wasn't that helpful, and what I had to contribute and pair on was not something anyone else was interested in. Basically I felt a little out of place and over my head.

One thing I definitely can do is just keep learning. Outside of the Meetup is where I felt I got a lot done. At the Meetup, I learned the mos

[2016-08-01 20:15] IanDCarroll commented on #68
@machikoyasuda what helped was being in the room with other developers and observing their unspoken attitudes while working. It might be a topic for the retro, but I probably could have learned more if I was more outspoken. I didn't want to harsh anyone's groove with questions.

getting comfortable with posting GH issues when I couldn't resolve it myself, and learning when was a good time to do th

[2016-08-02 00:44] machikoyasuda commented on #65
@IanDCarroll check out @server-monitor's map! maybe you two can pair on adding your meetup data points onto this map programmatically. https://mapmymeetups.herokuapp.com/meetup_events/leaflet

[2016-08-02 01:12] server-monitor commented on #65
@machikoyasuda It already has that functionality. You can enter a meet up group or event link (with the scheme (HTTP or HTTPS), press "Submit" and it will put a marker on the map of the venue location. You can also enter in a keyword and it will map all the related meet up events.

[2016-08-03 22:57] IanDCarroll commented on #69
This might do as the basis for an informal  "working agreement".
![slack for ios upload](https://cloud.githubusercontent.com/assets/14797009/17384716/d7121302-5992-11e6-8f41-57ef5bde85c4.jpg)
Thanks, Machiko for providing it

[2016-08-03 23:15] IanDCarroll commented on #69
Taking this retro through a little more, I've learned a few things.
1. Finding bugs and reporting them is the definition of a contribution. It's helpful.
2. Feeling out of place and over my head is something I can mention earlier on so it can be addressed, as for pairing, I need to make sure I communicate that the map project is actually an approved assignment for the group and is quite all right

[2016-08-04 13:27] server-monitor opened #70 "List of 450+ free online courses"
As I was wasting time I on reddit, I came across this posting of a list of free online courses:

https://www.reddit.com/r/learnprogramming/comments/4vyhca/heres_a_list_of_450_free_online_programmingcs/

Same list in a github repo: https://github.com/jaalsh/free-programming-and-cs-courses

There's a variety of courses for different levels of proficiency, languages, etc. Only 3 Rails/Ruby courses th

[2016-08-10 01:34] machikoyasuda commented on #70
This is very useful @server-monitor :) But we're gonna keep using GitHub issues for issues about making apps on GitHub/writing code. All other things can go in our Wiki or somewhere else for now. I'm closing this for now :) See you soon.

[2016-08-10 01:34] #70 closed, assigned to nobody

[2016-08-10 01:35] #68 closed, assigned to nobody

[2016-08-10 01:35] #69 closed, assigned to nobody

[2016-08-10 01:35] machikoyasuda commented on #64
Starting this first via Twitter :)

[2016-08-10 01:35] #64 closed, assigned to nobody

[2016-08-10 23:31] machikoyasuda opened #71 "Wed. Aug. 10 ⚡ 📻 Show Notes"
Let's try something new. @kpearson and I want to maximize coding & pairing time, so we want to try putting our usual shpiel up in various places people can read ahead of time online or in person (like on PowerPoint, paper, something like that).

I'll start with kudos & announcements:
### kudos -

⭐ @jaimemendozadev - first PR on @hoodiehq merged: https://github.com/hoodiehq/documentation/pull/225

[2016-08-10 23:33] machikoyasuda commented on #62
@eirinikos How about the Aug. 24 Wed. meetup date? Could that be a good speaker date? We can post a Q and A before that. I want people to learn about it before the Outreachy deadline.

[2016-08-11 02:22] machikoyasuda commented on #71
- devspace: tool for keeping up with github tool, zeno rocha

[2016-08-11 02:27] machikoyasuda commented on #71
- http://www.lasoftwarecraftsmanship.com/

[2016-08-11 02:54] jdorfman commented on #71
**Links:**
- https://github.com/git-tips/tips
- https://app.devspace.io/
- https://github.com/FallibleInc/security-guide-for-developers

[2016-08-11 03:17] machikoyasuda commented on #71
who's here:
@kpearson
@cacheflow
@machikoyasuda
@jaimemendozadev
@marina-miranovich
@gr2m
@thomasjinlo
@kennethlee
@IanDCarroll
@caseytherocket
@patriciarealini
@thebearingedge
@svincent

[2016-08-11 04:41] IanDCarroll commented on #71
Merge! Make a map website of local LA meetups that works and stuff!

Solved problems with geoJSON data undefined on the map.

Learned git commands, command line stuff, and general goings on
We also leaned to question our assumptions regarding what we think we know. Actually check, it'll save us time. :smile:
Now script points to the right properties.

https://github.com/fullstackla/pairing-meetup/

[2016-08-11 04:43] machikoyasuda commented on #71
@IanDCarroll what is the URL to get to this map?

[2016-08-11 08:18] IanDCarroll commented on #71
Well...
I used gh-pages on my own repo to make it live. https://iandcarroll.github.io/fsla/

It might need to become it's own fullstackla repo with its own gh-pages branch if you want to use it in official production for fullstackla.

[2016-08-11 15:59] gr2m commented on #71
Outreachy deadline is October 17. August 22 is deadline for sponsors

[2016-08-11 17:30] eirinikos commented on #62
Cool! 👍

[2016-08-11 17:50] jdorfman commented on #71
Great work @IanDCarroll

[2016-08-12 08:41] IanDCarroll commented on #71
A chronicle of @caseytherocket, @thebearingedge and my pairing that serves as review and retro. Good work was done and valuable lessons learned :mortar_board: :dart: :+1:

http://developingian.com/pairing-on-a-map-page/

[2016-08-12 16:19] thebearingedge commented on #71
Haha @IanDCarroll awesome, even a post-game blog article. Rad!

[2016-08-15 22:28] machikoyasuda opened #73 "Scheduled: Sep. 21st - talk about Falcor/Mapillary/etc."

[2016-08-15 22:29] machikoyasuda commented on #73
hi @gyllen!!!!

[2016-08-15 23:15] gyllen commented on #73
Hey @machikoyasuda

[2016-08-16 22:21] gyllen commented on #73
@machikoyasuda Most of the weekdays in September works for me.

[2016-08-16 22:23] machikoyasuda commented on #73
@gyllen How is September 21st, Wednesday? 7th is great too. :)

[2016-08-16 22:36] gyllen commented on #73
Yeah works for me!

[2016-08-17 17:27] kennethlee commented on #73
I'm super interested in this. Looking forward to it

[2016-08-17 20:08] gyllen commented on #73
Also I meant the 21st... Let me know about specific times and also what you need from me in terms of presentation description.

Looking forward!

[2016-08-24 18:58] machikoyasuda commented on #62
@kpearson https://docs.google.com/presentation/d/1qRJ83rrb_flP7odoAnBjJxyQETYdsauN3K4hy-Qg9ns/edit#slide=id.g165628c9cc_0_42 here are the links for tonight's talk with @eirinikos

[2016-08-24 18:59] #39 closed, assigned to IanDCarroll

[2016-08-24 18:59] #55 closed, assigned to IanDCarroll

[2016-08-24 18:59] #56 closed, assigned to machikoyasuda

[2016-08-24 18:59] #65 closed, assigned to nobody

[2016-08-24 18:59] #67 closed, assigned to nobody

[2016-08-24 18:59] #71 closed, assigned to nobody

[2016-08-24 19:06] machikoyasuda opened #74 "Wed. Aug. 24th ⚡ 📻 the Show Notes"
The next episode of FullStackLA live is here, with @kpearson & @machikoyasuda, brought to you by @MaxCDN / [StackPath](https://www.stackpath.com/) - thanks to our favorite @jdorfman :octocat:

This week, we have a special local guest, developer & OSS contributor @eirinikos of Los Angeles, a local @homebrew 🍻  💎  contributor in the Ruby language. She will be talking about her summer as a fellow for

[2016-08-24 19:50] kpearson commented on #62
Awesome. Just awesome.

Is she okay with us recording it and putting it on youtube?

— Kit

[2016-08-24 21:04] machikoyasuda commented on #62
@eirinikos 🆙  ☝️

[2016-08-24 21:09] eirinikos commented on #62
👍  Record & post away!

[2016-08-25 02:39] benjaminma commented on #74
+1 @benjaminma HTML/CSS/JavaScript

[2016-08-25 02:39] ghost commented on #74
@lenkli67 Ruby/ JavaScript/ HTML/ CSS

[2016-08-25 02:39] kennethlee commented on #74
@kennethlee da Jay Ess.

[2016-08-25 02:40] thomasjinlo commented on #74
@thomasjinlo Ruby

[2016-08-25 02:40] leighphan commented on #74
+1 @leighphan HTML, CSS, JavaScript

[2016-08-25 02:40] gnublet commented on #74
Python, R, C++, (maybe Java, HTML/CSS)

[2016-08-25 02:40] dmacstack commented on #74
@dmacstack Ruby, PHP, JavaScript, HTML, CSS

[2016-08-25 02:40] drmjo commented on #74
Majan ... PHP, JS ... never done ruby ... but i am down to learn...!!

[2016-08-25 02:40] xuhdev commented on #74
+1 @xuhdev Python / HTML / CSS / C++

[2016-08-25 02:40] gargruth2 commented on #74
Swift, Objective-C

[2016-08-25 02:41] jaimemendozadev commented on #74
@jaimemendozadev and I can do either Ruby or JavaScript ( probably 😉 )

[2016-08-25 02:42] jdorfman commented on #74
@jdorfman | `markdown` `json` | https://github.com/jdorfman/awesome-json-datasets/issues/12

[2016-08-25 02:42] IanDCarroll commented on #74
@IanDCarroll HTML/CSS/JS, Python, whatever

[2016-08-25 08:13] IanDCarroll commented on #74
@xuhdev would like to share a tool he uses with firefox: Vimperator: http://www.vimperator.org/vimperator

Also, a rad blog about open source: https://www.topbug.net/blog/2016/08/19/why-is-open-source-beneficial-for-economic-growth-in-the-long-run/

[2016-08-25 08:54] machikoyasuda opened #75 "2016 Winter Talk: Scheduled - 🍂 Nov 2 - Justin Dorfman on Awesome lists, autorunning tests on PRs"
@jdorfman

Talk inspiration:

I, Machiko, grew up writing on and for the internet. It started with Notepad, Expages and later led to working on the college newspaper. It took me all the way to the Washington Post writing headlines into a custom CMS (Content Management System). It was hard to keep basic internet HTML up to date: Links die, articles get out of date, versions get updated, and text ca

[2016-08-25 09:43] server-monitor commented on #74
Michael @server-monitor bash, Ruby, Perl, JavaScript, Python, HTML, CSS, would like to learn more Elixir and Go.

[2016-08-25 11:58] machikoyasuda opened #76 "Video - Andrea Kao / Homebrew"
As a meetup member/fan, I would like to be able to watch Andrea Kao's talk on Homebrew/Outreachy.

[2016-08-25 11:59] #62 closed, assigned to nobody

[2016-08-25 11:59] #63 closed, assigned to nobody

[2016-08-25 11:59] #58 closed, assigned to nobody

[2016-08-25 16:55] jdorfman commented on #75
`s/talk/lightning talk/g`

[2016-08-25 18:40] IanDCarroll commented on #76
Wow! All right, maybe the simplest way to do this would be to add a link under FullStackLA.

Or were you looking for embedded video, which might morph the scope of the project quite a bit.

[2016-08-25 18:42] IanDCarroll commented on #76
This for the main website that @kpearson  is working on?

[2016-08-25 18:43] machikoyasuda commented on #76
@IanDCarroll

Steps:
1. Someone has to upload that video, edit it, make it viewable and hearable
2. Someone has to find a place to upload it: YouTube, Vimeo, etc.
3. Someone can also add that embed URL into a static HTML page.

It can go anywhere at this point, hypothetically.

[2016-08-25 18:58] IanDCarroll commented on #76
Steps:
- [ ] Someone has to upload that video, edit it, make it viewable and hearable @kpearson, if you don't object, since you've got the camera.
- [ ] Someone has to find a place to upload it: YouTube, Vimeo, etc. - **Needs a person**
- [ ] Someone can also add that embed URL into a static HTML page. - **Needs a person**

[2016-08-25 19:18] machikoyasuda commented on #76
I thus grant you  @IanDCarroll permission to close / rewrite / reword / add lists to / add emojis to any issue I put on here. I use https://github.com/hoodiehq/camp/issues/14 this kind of issue as a template.

[2016-08-25 23:23] jdorfman commented on #75
@machikoyasuda what date were you thinking?

[2016-08-25 23:41] machikoyasuda commented on #75
Options:
- [ ] September 21
- [ ] October 5
- [ ] October 19
- [x] November 2 (After AllThingsOpen)

[2016-08-25 23:42] machikoyasuda commented on #75
Once we set a date, I will start inviting "people who do use tools like GitHub, command line" to "write awesome lists"... for e-mail newsletters, documentation, blogs, etc. :) ✏️

[2016-08-25 23:55] machikoyasuda opened #77 "Know a bit of HTML/CSS/JS? Some issues for you to work on."
I am going to start a list of open source websites that @fullstackla <3s that have GitHub issues for people who want to make websites more usable and beautiful by editing HTML/CSS:
- OpenStreetMap.com website: https://github.com/openstreetmap/openstreetmap-website/issues - I use this site to add/edit things. For example, when I moved to a neighborhood - I noticed a blue sign on the street that sai

[2016-08-25 23:56] machikoyasuda commented on #77
On the horizon @IanDCarroll 🌅

[2016-08-25 23:57] machikoyasuda commented on #74
@IanDCarroll idea: maybe one day we can convert these show notes into "Awesome lists"

[2016-08-25 23:58] #74 closed, assigned to nobody

[2016-08-26 00:10] machikoyasuda opened #78 "First Timers 🏰 On your way to FullStack"
First time contributors?

Welcome to FullStack!

If you signed up for a GitHub account and made it this far, kudos!

You can post your questions here and we will answer them to the best of our abilities.

[2016-08-26 00:11] machikoyasuda commented on #78
Questions about parking should go here cc @IanDCarroll
- MaxCDN, now part of StackPath, is located in a building near Universal Studios & Hogwarts School fo Wizardry, off Cahuenga. We will provide free parking validation if you park inside the building. There is also metered spots along both sides of Cahuenga.
- Food nearby: InnOut, Poquito Mas
- Post any other meetup tips here

[2016-08-26 00:13] jdorfman commented on #75
- November 2 (After AllThingsOpen)

Would be ideal =)

[2016-08-26 00:14] machikoyasuda commented on #75
🏁 🏁 November 2 it is!

[2016-08-26 00:15] jdorfman commented on #75
Preview:

![image](https://cloud.githubusercontent.com/assets/398230/17990093/83ad71dc-6ae7-11e6-8a7e-f1be61b5be09.png)

[2016-08-26 00:17] machikoyasuda commented on #75
I caught a sneak peek of the Unit Testing for Writing episode and I cannot wait until it comes out live, November 2. Wowowow!

[2016-08-26 01:25] IanDCarroll commented on #75
Ooh! I will be looking forward to this!

[2016-08-26 01:50] IanDCarroll commented on #78
# How to Park

_full validation provided_

![20160824_181106](https://cloud.githubusercontent.com/assets/14797009/17991269/ef63906e-6af1-11e6-96a1-78a27eb7fce4.jpg)
![20160824_180414](https://cloud.githubusercontent.com/assets/14797009/17991316/508e2610-6af2-11e6-86eb-6b719badc58b.jpg)
![20160824_180355](https://cloud.githubusercontent.com/assets/14797009/17991364/9f76202a-6af2-11e6-9dea-388a0bd8f

[2016-08-26 02:13] IanDCarroll commented on #78
# How to Walk

_validation unavailable, but we still think you're valid!_

![20160824_181106](https://cloud.githubusercontent.com/assets/14797009/17991719/0a1813f4-6af6-11e6-9daf-79d1dfbf979e.jpg)
![20160824_181735](https://cloud.githubusercontent.com/assets/14797009/17991744/54e525e8-6af6-11e6-86f1-7a27f0df4b0c.jpg)
![20160824_181745](https://cloud.githubusercontent.com/assets/14797009/17991795/b

[2016-08-26 19:25] machikoyasuda opened #79 "2017 January: Pair Interview Practice"
Practice for programming job interviews in pairs and learn from the pros - the people who are interviewing.
### Brainstorming:
- Software engineers experienced in teaching interviewing can give us tips to practice: @ssebelius
- Whiteboard practice: learn an algorithm or a popular interview question (the kind they test you on), study it. Bring it to the meetup and practice explaining it on the whit

[2016-08-26 19:25] machikoyasuda commented on #79
@IanDCarroll what do you think? :)

[2016-08-26 22:34] IanDCarroll commented on #79
@machikoyasuda Sounds like a thing to do and a thing I'd want to participate in/help make happen!

[2016-08-26 22:34] IanDCarroll commented on #79
I'll start scouting locations

[2016-08-29 20:00] IanDCarroll commented on #74
"Awesome lists?" I do not understand awesome. Can you explain it?

Also: another contribution: @xuhdev wrote about pairing on the map project: https://www.topbug.net/blog/2016/08/27/optimization-for-mobile-a-pair-programming-story-at-fullstackla/

[2016-08-29 20:01] machikoyasuda commented on #74
@IanDCarroll https://github.com/sindresorhus/awesome

[2016-08-29 21:44] IanDCarroll commented on #76
Steps:
- [ ] Someone has to upload that video, edit it, make it viewable and hearable @kpearson, if you don't object, since you've got the camera.
- [ ] Someone has to find a place to upload it: YouTube, Vimeo, etc. - **Needs a person**
- [ ] Someone can also add that embed URL into a static HTML page. - **Needs a person**

[2016-08-31 21:35] machikoyasuda opened #82 "Winter Talk idea: Using and "dog-fooding" open source & open data everything"
- Instead of Google Maps, maps.me and OpenStreetMaps data
- Instead of Evernote, Notational Velocity
- Instead of Google Hangouts, https://jitsi.org/Projects/JitsiMeet
- Instead of your favorite chat app, https://telegram.org/
- Instead of your favorite desktop mail client, Thunderbird
- Instead of ArcGIS, QGIS
- Instead of whatever else, https://prosody.im/
- Instead of SublimeText, Atom
- Hostin

[2016-08-31 21:44] machikoyasuda opened #83 "2017 Talk idea: Bitcoin"

[2016-08-31 21:44] machikoyasuda opened #84 "2017 Talk idea: How to PGP and other security topics"
- OpenSSL
- Open SSH
- Bitcoin
- Other fun topics.. Lightning round talks of random open source projects we wanna learn out about.

[2016-09-01 22:03] IanDCarroll commented on #79
Location Requirements:
- Can handle talking
- Has access to a white board
- Has capacity for up to 30 people
- Has available power outlets

Missing anything?

[2016-09-01 22:26] IanDCarroll commented on #77
Here's a list of issues on our fsla map page: https://github.com/IanDCarroll/fsla/milestone/1

Issue buffet! Take what you like!

New devs welcome!!! Scroll down to our README.md to get your bearings: https://github.com/IanDCarroll/fsla

[2016-09-08 08:24] xuhdev opened #85 "Ideas for small projects that can be pair programmed"
These projects can be really tiny but still are real contributions. Perhaps it's a good idea to make a wiki page to maintain this list?
- [AUR (ArchLinux User Repository) packages](https://aur.archlinux.org/packages/)
- [bash auto completion scripts](https://github.com/scop/bash-completion)
- [el-get recipes](https://github.com/dimitri/el-get/tree/master/recipes)
- [homebrew recipes](https://githu

[2016-09-08 08:47] machikoyasuda commented on #85
👍🏽👍🏽
Can anyone start a wiki page in this repository's wiki? Or do they need admin permission? @kitpearson wanna start one?
I am away-from-computer till 9/16. 

[code]

From: Hong Xu notifications@github.com
Sent: Thursday, September 8, 2016 5:24 PM
Subject: [fullstackla/pairing-meetup] Ideas for small projects that can be pair programmed (#85)
To: fullstackla/pairing-meetup pairing-meetup@noreply

[2016-09-08 08:48] machikoyasuda commented on #85
oops. @kpearson. 

On Thu, Sep 8, 2016 at 5:47 PM +0900, "Machiko Yasuda" machikoyasuda@gmail.com wrote:

[code]

Can anyone start a wiki page in this repository's wiki? Or do they need admin permission? @kitpearson wanna start one?
I am away-from-computer till 9/16. 

[code]

From: Hong Xu notifications@github.com
Sent: Thursday, September 8, 2016 5:24 PM
Subject: [fullstackla/pairing-meetup] Ide

[2016-09-08 18:25] xuhdev commented on #85
It turns out that I can create wiki pages. Now available [here](https://github.com/fullstackla/pairing-meetup/wiki/Ideas-for-small-projects-that-can-be-pair-programmed).

[2016-09-08 18:25] #85 closed, assigned to nobody

[2016-09-10 18:58] IanDCarroll opened #86 "News update: You don't need a gh-pages branch to deploy gh-pages"
https://help.github.com/articles/configuring-a-publishing-source-for-github-pages/

You have 3 options in settings:
1. You can use a gh-pages branch to deploy your page. This creates problems, because you have to keep merging from master, or your master and gh-pages branches start getting wonky and out-of-sync.
2. You can also just use master as your gh-pages deploy reference. This means you only

[2016-09-19 21:23] machikoyasuda commented on #73
Canceled talk for now

[2016-09-19 21:23] #73 closed, assigned to nobody

[2016-09-20 17:50] machikoyasuda commented on #86
@IanDCarroll This is awesome. Can you move this to a wiki page instead? Issues should be for issues, we can use Wiki for help/documentation/lists of links.

[2016-09-20 17:50] #86 closed, assigned to nobody

[2016-09-20 17:51] machikoyasuda commented on #84
- OpenSSL
- Open SSH

[2016-09-20 17:51] machikoyasuda commented on #82
https://www.topbug.net/blog/2016/09/13/how-to-achieve-different-open-source-levels-on-your-laptop-desktop/

[2016-09-20 17:52] machikoyasuda commented on #78
Closing b/c we have a new space now <3

[2016-09-20 17:52] #78 closed, assigned to nobody

[2016-09-20 17:53] machikoyasuda commented on #66
@leighphan @gr2m do we have a preference for an October date/location of boba.js slash hacktober slash la-&-oc code hack fun day? weekend probably, right?

[2016-09-20 17:56] machikoyasuda opened #87 "Editorial Ideas"
Thinking out loud:
- interview writers working in tech & publish them
- github tools for writers: brainstorming & using & tutorials
- topics to teach/discuss: accessibility & writing (visual/hearing/font size), writing in plain language
- tools to discuss/test/use/teach: how to user testing, how to email newsletter testing (litmus), how to github/markdown, how to use plaintext editor like Atom and

[2016-09-20 18:19] xuhdev commented on #82
https://prism-break.org/en/all/

[2016-09-20 18:32] machikoyasuda commented on #82
@xuhdev we should contribute to this list to make it even more meta :) https://github.com/nylira/prism-break/blob/master/CONTRIBUTING.md

[2016-09-20 19:00] xuhdev commented on #82
@machikoyasuda Yep, for example, they don't have QGIS listed yet...

[2016-09-20 19:01] machikoyasuda commented on #82
@xuhdev you read my mind! hah.

[2016-09-20 19:13] gr2m commented on #66
yeah let’s do a weekend!

I’d say we either try to organize a place a bit outside of LA were we can stay Friday - Sunday, that’d be super cool, if you have any idea where we could do it? I’d say 10-15 people would be a good group.

Alternatively and probably easier to organize and attend would be a place that is cental / easy to get to in LA, where we could be full day Saturday & Sunday, just meet

[2016-09-20 19:16] machikoyasuda commented on #66
maybe public-transit-oriented like near a Metrolink Station -- @leighphan is codelab's coworking space near metrolink?

[2016-09-20 21:27] kangashley commented on #66
3 blocks away, according to [this](http://www.metrolinktrains.com/stations/detail/station_id/97.html)! (Pro Desk Space is on Amerige, between Harbor and Pomona.)

[2016-09-20 22:19] gr2m commented on #66
here is Pro Desk Space’s website http://www.prodeskspace.com/

[2016-09-21 00:42] leighphan commented on #66
Weekend sounds good -- although Sundays Pro Desk Space is usually occupied. I'm checking availability with our office manager and will report back.

Our space is walking-distance from the Fullerton Metrolink, which runs directly to Union Station!

[2016-09-21 21:35] leighphan commented on #66
Best weekends would be Oct 8, 15, 29th. Does anyone have a preference on any of those?

We have a conference room where we host CodeLab that would be able to fit up to 16 people. The rest of the space is usually used during weekends (although if it's pretty empty maybe we can spread out :)).

[2016-09-21 21:37] machikoyasuda commented on #66
What about Sunday the 16th? (I'll be in OC but busy on the 15th @leighphan cos Katy Bowman will be doing her book signing :P)

[2016-09-21 21:40] gr2m commented on #66
Sunday 16th sounds great to me :)

[2016-09-21 23:09] leighphan commented on #66
(@machikoyasuda was wondering when that event was 😆 )

That date should be good for Pro Desk Space; gonna confirm with the CodeLab crew. :)

[2016-09-21 23:24] gr2m commented on #66
okay, let’s figure out how to make Boba at the event :) Also I scored bobajs.org because buying domains makes me happy

[2016-09-22 02:41] machikoyasuda opened #88 "Show Notes - 9/21 - Talk with Josh Cheek"
# Announcements
- Thanks to our sponsor @8thLight
# Talk with @joshcheek
- https://gist.github.com/JoshCheek/9c00965885785daf03a7015799ee5722
- https://github.com/JoshCheek/erroneous_creatures

[2016-09-22 02:55] machikoyasuda opened #89 "9/21 ⚡ 📻 Show Notes: Talk with Josh Cheek"
# Announcements
- Thanks to our sponsor @8thLight
# Talk:
- Summary:  Forking a repo, running tests, fixing tests and pushing it up
- The instructions: https://gist.github.com/JoshCheek/9c00965885785daf03a7015799ee5722
- The repository we forked: https://github.com/JoshCheek/erroneous_creatures
- The forked repositories: https://github.com/JoshCheek/erroneous_creatures/network/members
- The pull r

[2016-09-22 18:02] #88 closed, assigned to nobody

[2016-09-22 18:09] machikoyasuda commented on #66
Brainstorming event description/general schedule: @kpearson

Hi there,

Any of those dates work for me. I’m happy to help as needed. Just send me specific tasks.

I’m happy to create an event page on the FullstackLA site and MeetUp.com.

## Date/Time:

Sunday October 16

## Location:

Pro Desk Space

## How to get here:
1. LA group can take the Metrolink together
2. Public Transit & Parking inform

[2016-09-22 18:18] leighphan commented on #66
All sounds good to me. And yes, we have plentiful parking; I can send out the map we use for our meetup to show parking locations. :)

Downtown Fullerton is dessert/snack/food central! We've got at least 3 spots that have boba - all walking-distance. I'm noticing more frozen yogurt places nearby (even _organic_ frozen yogurt).

Will scout some indie food spots - we've got plenty of those. :)

[2016-09-22 18:59] gr2m commented on #66
sounds great :)

[2016-09-23 17:38] thomasjinlo commented on #89
@machikoyasuda do you happen to remember what the code was for the SCNA discount?

[2016-09-23 17:41] dcmoore commented on #89
LA-MEETUP

[2016-09-23 21:24] leighphan commented on #66
Some of us at CodeLab have a preference for Oct. 8th - would that work for everyone?

[2016-09-23 21:25] gr2m commented on #66
I can’t do 8th unfortunately, I’ll be out of town that weekend

[2016-09-24 02:41] leighphan commented on #66
Weekend of 22nd?

[2016-09-24 04:54] gr2m commented on #66
works for me :)

[2016-09-24 05:49] machikoyasuda commented on #66
that is the weekend of Rails Girls LA and 8th Light's SCNA Conference at USC! 

On Fri, Sep 23, 2016 at 9:54 PM -0700, "Gregor Martynus" notifications@github.com wrote:

works for me :)

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2016-09-24 16:43] leighphan commented on #66
@machikoyasuda and GDI Website Weekend! ‼️

Alright, let's make it Oct. 16. :)

[2016-09-24 17:30] gr2m commented on #89
The ticket for http://scna.softwarecraftsmanship.org/ with the LA-MEETUP access key, do you know if it includes the Code Retreat? Because that’s what I’m most interested in :)

[2016-09-24 17:45] IanDCarroll commented on #89
@gr2m Apparently it does, but I'm not sure if it includes you automatically. You might need to send them an e-mail or a message to double check if every LA-MEETUP is automatically included, or we each need to contact the hosts to go in manually and make it so.

![conversation](https://cloud.githubusercontent.com/assets/14797009/18810157/cff69316-8243-11e6-884e-12ab7a8badde.png)

cc/ @dcmoore

[2016-09-24 17:59] kpearson commented on #66
October 16th works for me.
How long is the event? (Start time? End time?)

I need a little help with a discription. I'm trying to get a grasp on the main objective of the event.
I think it would help to decide on a headline or two.
What is the main idea we are organizing around?
Some ideas pulled from above:
- open source
- pair programming
- coding
- helping first-time coders
- hacktoberfest

All

[2016-09-26 17:54] machikoyasuda commented on #66
## Purpose:
- Why weekend and why OC? - To have a weekend event in a new neighborhood: (1) To introduce people to a new neighborhood + local food/boba places, (2) To get people who can't regularly make a weeknight in LA to come., (3) To introduce people from different neighborhoods (LA, OC) to each other. To outreach out farther away from LA.

## Goals:
- What will we be doing and why? It's Hackto

[2016-09-26 22:30] gr2m commented on #66
Maybe we can model it a bit after https://github.com/welcome-to-open-source/Atlanta? It’s pretty straight forward, 3 things come together:
1. People new to Open Source come to become open source contribute or to contribute to new projects.
2. Experienced folks help coach beginners with setups, questions, debugging, etc
3. Open Source projects (which includes your personal side project :) ) prepare

[2016-09-29 18:45] #89 closed, assigned to nobody

[2016-09-29 18:46] #87 closed, assigned to nobody

[2016-09-29 18:46] #77 closed, assigned to nobody

[2016-09-29 18:46] #82 closed, assigned to nobody

[2016-09-29 18:53] machikoyasuda commented on #84
@kangashley i am putting you here :) can you link me to your pgp project notes here?

[2016-09-29 18:54] #83 closed, assigned to nobody

[2016-09-29 19:01] machikoyasuda commented on #79
@kangashley you might wanna heads up on this too :) this could be a fun way to practice talking about algorithms/common programming questions. it is also a great way to share what kinds of questions y'all have been getting in interviews lately.

[2016-09-29 19:35] kangashley commented on #84
[Here](https://paper.dropbox.com/doc/Planning-PGP-talkdemo-7rMPKaG7VnElgF5kVN8xa) you go! Major inspiration was the [Encryption Works](https://github.com/freedomofpress/encryption-works/blob/master/encryption_works.md) guide by Freedom of the Press.

[2016-09-29 19:50] machikoyasuda commented on #84
@kangashley can you save these Paper things into Markdown files on github instead? or gist? it is easier to edit, fork, share, collaborate with on others. it is a faster, less proprietary format!

[2016-09-29 19:56] IanDCarroll commented on #66
I probably can't come thanks to work obligations, but I wanted to share an idea I've heard about on how to format the lightning talks to make them super spontaneous and agile:
1. Get a bunch of post-its (or index cards w/ tape) and some sharpies.
2. Have everyone take a card (or two) and write down a show-and-tell, discussion question or a talk topic.
3. Post them all on a wall.
4. Everyone gets 3

[2016-09-30 17:39] dotproto commented on #66
I just grabbed boba.team for the same reason! 😅

I also snagged the GitHub org @boba-js and will probably grab other social media accounts, though I'm terrible at the social.

[2016-10-01 18:43] machikoyasuda commented on #66
i moved the list of issues to here: https://github.com/fullstackla/pairing-meetup/blob/master/hacktober_2016.md

add issues/projects you want to work on during Hacktober day in OC there :)

[2016-10-01 18:43] #66 closed, assigned to nobody

[2016-10-04 01:37] machikoyasuda opened #90 "2016 Winter talk idea: Learning how to use new code and documenting it"

[2016-10-05 18:30] machikoyasuda opened #92 "Today's Show Notes ⚡️📻 Oct. 5th"
## Tonight's Picks & Announcements
- Hacktober 🎃  http://www.meetup.com/la-fullstack/events/234637657/?
- SCNA Conf & Code Retreat
- Upcoming season: Who's interested in the interview practice? https://github.com/fullstackla/pairing-meetup/issues/79 + Talks in the works: https://github.com/fullstackla/pairing-meetup/issues/75 https://github.com/fullstackla/pairing-meetup/issues/84
## Tonight's Con

[2016-10-05 18:48] IanDCarroll commented on #92
@IanDCarroll: JavaScript and browsers, or whatever is useful. @machikoyasuda, I'd like to do that

[2016-10-05 20:24] jaimemendozadev commented on #92
@jaimemendozadev and I'm interested in JavaScript or Ruby-based projects (though I learn more towards JS these days). I'm also interested in Algorithms and JS-based coding challenges.

[2016-10-06 00:46] server-monitor commented on #92
@server-monitor: I'm not going to be able the meet up tonight :( but I would like to continue to work on this issue later on in the evening if it's not finished.

[2016-10-06 03:00] smeads commented on #92
@smeads: I'm 4 months into programming, learning Ruby on Rails, JavaScript, HTML, CSS.

[2016-10-06 03:01] gr2m commented on #92
We are going trough the Hoodie Camp Tutorial: https://github.com/hoodiehq/hoodie-camp-tutorial. Check it out online at https://camp-tutorial.hood.ie/

[2016-10-06 18:35] gr2m commented on #92
PRs that got merged from yesterday:
- https://github.com/hoodiehq/hoodie-camp-tutorial/pull/21 by @IanDCarroll
- https://github.com/hoodiehq/hoodie-camp-tutorial/pull/19 by @Janatbek
- https://github.com/hoodiehq/hoodie-camp-tutorial/pull/8 by @nongaap
- @thomasjinlo is working on https://github.com/hoodiehq/hoodie-account-client/issues/110 (you should start a work-in-progress PR) :)

Hope I didn’

[2016-10-06 18:46] machikoyasuda commented on #92
And @gnublet submitted his first issue 🎊  https://github.com/jupyter/notebook/issues/1815 thanks to @xuhdev for the encouragement 😋

Also thanks to @Taekyoon for the best story told at stand-up ever in the history of Fullstack - the PR he talked about is here: https://github.com/KeepSafe/aiohttp/pull/1088 :)

[2016-10-06 18:46] #92 closed, assigned to nobody

[2016-10-06 18:51] Janatbek commented on #92
Thank you for the picture.

On Thu, Oct 6, 2016 at 11:35 AM, Gregor Martynus notifications@github.com
wrote:

##

[image: Bravo Web] http://www.kyrgyzclub.org/

Janatbek Sharsheyev / Front End Web Developer
janatbek@gmail.com / (929) 245 - 0708

http://www.bravopack.com http://bravopack.com

[image: Twitter]  https://twitter.com/Janatbek [image: Facebook]
https://www.facebook.com/janatbek [image:

[2016-10-07 15:01] thewillhuang commented on #84
another really interesting topic is https://github.com/WhisperSystems/libsignal-protocol-javascript its an open source security protocal being used by google facebook and many others to do perfect forward secrecy, i thought it would be related :D

[2016-10-13 19:12] machikoyasuda opened #93 "Start PULL_REQUEST_TEMPLATE.md and ISSUE_TEMPLATE.md, PULL_REQUEST_EXAMPLES.md."
- Teach people how to make PR
- Teach people how to write a solid PR message, with the Fullstack logo :)

[2016-10-13 19:53] xuhdev opened #94 "Suggest a different entry level editor?"
Currently atom is the suggested editor, but there is a privacy issue associated with it -- it sends data to Google analytics by default: https://atom.io/faq#why-does-atom-send-usage-data-to-google-analytics

Here are my suggestions: (all of them work are easy to get hands on and have descent programming features out of the box)
- Windows: Notepad++
- macOS: Textmate
- GNU/Linux and *BSD: geany

[2016-10-13 20:45] server-monitor commented on #94
Linux (going from easiest to hardest to work with): gedit (the notepad of Gnome-Linux), Sublime Text 3, emacs, vi/vim/gvim.

[2016-10-13 20:53] ashwell commented on #94
Sublime might be a good choice, but I feel like emacs and vim are no-nos. Don't get me wrong, I love my vim setup and can't program at speed without it anymore but for someone starting out, just learning how to program is enough of a challenge. Adding the complexity of vim is just plain mean.

...

[![](https://imgs.xkcd.com/comics/real_programmers.png)](https://xkcd.com/378/)

[2016-10-13 20:54] IanDCarroll commented on #94
Personally, does it matter all that much? If you are new and it's your first editor, are you really writing stuff that needs to be that secure? Here's the data atom collects: https://github.com/atom/metrics I suppose those shopping for a good starter editor should be aware of that, but if it were me, I'd be fine using it.

[2016-10-13 21:01] machikoyasuda commented on #79
@IanDCarroll do you still wanna do this sometime? should we schedule a date?

[2016-10-13 21:05] IanDCarroll commented on #79
@machikoyasuda I got stuck thinking of a decent location. The only solution I came up with is the second floor of the Glendale Barnes and Noble where I work. I don't have much prepared besides that.

[2016-10-13 21:06] machikoyasuda commented on #79
@IanDCarroll what about 8th Light? we can help with logistics (1. finding location, 2. making an invite on meetup, 3. outreach/marketing) and you can run the show of the day-of content/schedule/organizing, etc.

[2016-10-13 21:12] IanDCarroll commented on #79
@machikoyasuda That would definitely work well. They have a much better space.

For the show, I can prepare some common questions via google. But I don't know all the dimensions of an interview. You've mentioned setting up a laptop to give good lighting for skype screening interviews. Would you be interested in giving a 15 minute talk on aspects of interviews besides coding challenges with whitebo

[2016-10-13 21:14] IanDCarroll commented on #79
As for a date, as we get closer to December, my ability to set aside time that work won't schedule me becomes slim to none. It might be a good idea to do this in January, if that's not too far away.

[2016-10-13 21:15] IanDCarroll commented on #93
Are we talking about some documentation or a workshop?

[2016-10-13 21:23] machikoyasuda commented on #93
As a meetup organizer, I want to have written and verbal instructions for attendees at every meetup on how to make a Pull Request with a `Made at Fullstack` link, so that we can more easily track every PR/Issue created at our meetups.

[2016-10-13 21:27] IanDCarroll commented on #93
Ok, can I claim this?

I think it'd be good if a diagram was involved.
questions:
1. Should it be like a poster?
2. we'll need specific instructions on that logo and link. What is it linking to?

[2016-10-13 21:32] machikoyasuda commented on #93
Our MVP (minimum viable product) for now can be something like:

### Code:

[code]

---

### What it looks like:

[Made at Fullstack LA](https://meetup.com/la-fullstack/events/234620974) :zap:

Inspired by https://github.com/devspace/awesome-github-templates/blob/master/readme.md these issue and PR templates. We can make a PR/Issue template for us :)

[2016-10-13 21:34] machikoyasuda commented on #93
@IanDCarroll maybe...
1. You could make a PULL_REQUEST_TEMPLATE.MD and ISSUE.MD, with the code above.
2. Then you could will make a PULL_REQUEST_EXAMPLES.MD and ISSUES_EXAMPLES.MD list, with links to PRs you and other fullstackers have made as good examples to follow. Practices like: adding instructions on how to replicate bug/issue, relevant URLs, screenshots, explaining..etc.. would be great to

[2016-10-13 21:35] server-monitor commented on #94
Maybe some people are more attuned to how vi or emacs work. You never know. ;)

[2016-10-13 21:41] kennethlee commented on #94
I'm with @ashwell; Sublime is a good choice (and cross platform). Emacs/vim shouldn't really be a part of this discussion at all, in my opinion.

[2016-10-13 21:43] IanDCarroll commented on #93
Ok, sounds good. I'll get to work on these. Is there a deadline you need them by?

[2016-10-13 22:01] machikoyasuda commented on #93
by next Wednesday!? we can work on finishing it + announcing it next wed.

[2016-10-13 22:02] IanDCarroll commented on #93
Ok, I'll have it before then :)

[2016-10-13 22:13] xuhdev commented on #94
I'm against sublime text since an open source meetup should not normally recommend a proprietary product -- many good open-source contributions are discovered in daily use, and sublime text, as a proprietary product, destroys a lot of possible contributions.

[2016-10-13 22:17] gnublet commented on #94
Could we try to make a text editor from scratch?

[2016-10-13 22:25] machikoyasuda commented on #94
i love this thread.

@xuhdev thanks for bringing this up. i never knew about this Metrics package.

@IanDCarroll thanks for looking up information about the package. i read in the README that there is an option to disable the Metrics package, and i just did that. not too hard to disable.

![screenshot 2016-10-13 15 02 37](https://cloud.githubusercontent.com/assets/3673236/19368889/2c5093d8-9157-11

[2016-10-13 22:36] #90 closed, assigned to nobody

[2016-10-13 22:49] xuhdev commented on #94
@machikoyasuda  Thanks for the instructions (and glad you switched browser)!

Sorry about the outdated info about Atom: the most recent release (2 days ago) uses an "opt-in" scheme rather than the past "opt-out" scheme atom/atom#4966 : https://github.com/atom/atom/releases/tag/v1.11.0

So IMO this issue is no longer valid.

[2016-10-13 22:51] gr2m commented on #94
I think it’s a good idea to offer different choices with short explanations why, but we also should make a recommendation, because people new to coding are looking for advise.

I think the most recent Atom editor no longer send this data by default, it is opt-in, but we should double check.

I think Atom is a great Editor to suggest, because it is hackable with technologies that are widely known a

[2016-10-14 22:10] IanDCarroll commented on #93
Can I get some shout outs from people who have seen good pull requests to put in the example files?
(Of course these examples will not have the same templating...)

[2016-10-14 22:14] machikoyasuda commented on #93
@IanDCarroll  here are some PRs from fullstack peoples
https://github.com/Pinwheeler/Parrit/pull/40
https://github.com/Pinwheeler/Parrit/pull/39
https://github.com/hoodiehq/hoodie-camp-tutorial/pull/19
https://github.com/hoodiehq/hoodie-camp-tutorial/pull/22
https://github.com/hoodiehq/hoodie-camp-tutorial/pull/22

[2016-10-14 22:46] IanDCarroll commented on #93
Alright, just going to copy-paste this last set of examples into a .md, and then that's a first pass attempt at this :+1:

[2016-10-14 23:31] #93 closed, assigned to nobody

[2016-10-18 02:24] #94 closed, assigned to nobody

[2016-10-18 17:20] machikoyasuda opened #98 "How can we make removable semi-adhesive laptop nametags for our members?"
#### User Story

As a meetup attendee & enthusiast,
I want people to have some kind of permanent almost-sticker name tags for attendees,
so that I can more easily learn people's names.

I WANT TO PUT THE STICKER ON MY LAPTOP THO!!!

#### Current Behavior

I learn everyone's names at Stand Up, and then I immediately forget.

#### Your Environment

- in real life
#### Additional Context
- Since we d

[2016-10-18 17:28] machikoyasuda commented on #98
A white sticker with an area to write your name in marker: https://www.stickermule.com/products/transfer-stickers could be fun!

[2016-10-18 17:34] machikoyasuda commented on #98
Name tag inspiration from @leighphan https://twitter.com/rachelnabors/status/785558069782642688

[2016-10-18 17:53] xuhdev commented on #98
How about the simplest note sticker like last time we did?

[2016-10-18 18:47] machikoyasuda commented on #98
@xuhdev Those were okay for one-time use... a more permanent one might be funner. :)

[2016-10-18 19:30] gr2m opened #99 "An app to celebrate PRs created during events"
#### 🤔💭 User Story

As a meetup organizer,
I want to make everyone's pull requests visible to everyone as they happen,
so that that we can celebrate together :).
#### 😫😪 Current Behavior

We try to manually keep track of attendees and their pull requests. For example see this issue: https://github.com/fullstackla/pairing-meetup/issues/92
#### 🎯💡 Idea

The first thing that comes to mind is a web ap

[2016-10-18 19:34] machikoyasuda commented on #99
I'm really into the hardware 💡 ⚡️ part (!!)

[2016-10-19 18:27] machikoyasuda opened #100 "Show Notes ⚡️📻 10/19 @ Downtown LA"
## Stand Up
- 🎃  **Wrap Up:** On Sunday, we hung out with @codelaboc in Fullerton and worked on a lot of Hoodie pull requests. We updated README.mds, wrote specs and continued improving the [Hoodie Offline Tutorial](https://camp-tutorial.hood.ie/) site. Thanks @codelaboc and ProDeskSpace for the beautiful space and thanks to City of Fullerton for free parking 🚗 Read more about it: https://github.c

[2016-10-19 18:32] gr2m commented on #100
issues from Hoodie: https://github.com/hoodiehq/camp/issues?q=is%3Aopen+is%3Aissue+label%3A%22up+for+grabs%22

See you later 👋

[2016-10-20 03:10] gr2m commented on #100
also please add yourself to our community :) https://github.com/fullstackla/pairing-meetup/tree/master/community and comment below with the things you have done and with whom you paired :)

[2016-10-20 03:13] jdorfman commented on #100
@machikoyasuda here is the screencast of merging conflicts with a CLI: https://cl.ly/2i0R1s1L2O0Y

Update: Fixed 8 merge conflicts

[2016-10-20 03:19] reyesr3 commented on #100
@justinjyoo worked together on the [Create License issue](https://github.com/hoodiehq/pouchdb-users/pull/9)

[2016-10-20 03:19] gr2m commented on #100
Today I helped people to contribute to Hoodie and made a video tutorial on how to add yourself as a Fullstack LA community member: https://dl.dropboxusercontent.com/u/732913/fullstackla-community-screencast.mov :)

[2016-10-20 03:29] Taekyoon commented on #100
@Taekyoon @jimthoburn ⚡️ we work together here! https://github.com/hoodiehq/camp/issues/58

[2016-10-20 03:31] blackcathacker commented on #100
@jaimemendozadev and I worked and submitted a PR for https://github.com/hoodiehq/camp/issues/73 and started to work on https://github.com/hoodiehq/camp/issues/74.

[2016-10-20 07:15] #100 closed, assigned to nobody

[2016-10-20 07:19] machikoyasuda opened #111 "Show Notes ⚡️📻 10/27 @ Santa Monica"
## Stand up

## This week's picks
- 📋  **Open source thing of note** by @tdreitz - LA job resource & Slack groups list https://github.com/tdreitz/Los-Angeles-Job-Search-Resources
- 🗓  **Event pick**: Nov. 1st with @jsla **lunch.js**: Find a lunch near you - https://github.com/jsla/lunch.js/issues
## Tonight's show: Introducing ✨ Concourse Continuous Integration
- The webpage is shiny: https://conc

[2016-10-20 23:50] machikoyasuda opened #116 "A GitHub repository tracking page for LA meetup groups' active projects that need/want help/users"
#### User Story

As a meetup enthusiast that can't attend every meetup,
I want a dynamic page that shows me the latest commits / issues on repositories created/added by meetup organizers,
so that I can keep track of the projects made by @MaptimeLA, @HackforLA, @FullStackLA, @CodeLabOC, @RailsGirlsLA and any other meetups in this area that has active open source contribution potential.
#### Current

[2016-10-20 23:52] machikoyasuda commented on #116
I would add a repositories from regularly-meeting groups (@hackforla) like this https://github.com/hackforla/project-groups from @ninakin, I would also add bigger projects like the LA Buildings Data Import (@MaptimeLA) to it https://github.com/osmlab/labuildings/issues

[2016-10-20 23:54] machikoyasuda commented on #116
I would also add smaller individual libraries like @jcblw's LA Metro API https://github.com/jcblw/lametro-api

I would also add OSS projects released by LA companies (LA Times - @datadesk) https://github.com/datadesk/latimes-calculate (KPCC - @scpr) and LA area governments.

Of course we can also always expand to places like Ventura County and Orange County too :)

[2016-10-21 02:04] machikoyasuda opened #117 "Add a .editorconfig and plugin installation instructions"
#### User Story

As a person who gets to merge Pull Requests on `.md` files with trailing whitespaces,
I want an `.editorconfig` file and everyone to install the necessary code editor plugins,
so that everyone's `.md` files are free of trailing whitespaces and indentation differences.
#### Context

I was reading the README for @reactioncommerce's (documentation)[https://github.com/reactioncommerce

[2016-10-21 02:39] gr2m commented on #117
I would not recommend that. If you want a line break like this
- **first line**
  second line

then you need two spaces after the first line

[code]

I even have that as an exception in my `~/.editorconfig`

[code]

[2016-10-21 02:53] machikoyasuda commented on #117
@gr2m ah! interesting.

what about just adding it for indentation differences?

[2016-10-21 02:57] gr2m commented on #117
I’d be careful with adding to many `.confgXYZ` files to repositories. Usually it’s the maintainers who want them but very quickly a repository can be full of them and it makes things more complicated for new contributors. We try to limit them to the absolute minimum at Hoodie for that reason. When people submit a pull request you can review the styling and ask for changes, or just fix it yourself.

[2016-10-21 03:24] xuhdev commented on #117
How about creating one in the wiki page so people who use it can download and put it in the correct place? Though I don't see adding DOT files in the repo as an issue: people who don't use them can just ignore them -- they are not shown in `ls` any way.

[2016-10-21 03:42] xuhdev commented on #117
EditorConfig also has a lot of issues unfixed. This also creates another venue to contribute. (Using open-source software is the motivation to contribute)

[2016-10-21 06:32] machikoyasuda commented on #111
@kpearson Can we pair on this outstanding @exercism at next week's till we figure it out?

https://github.com/exercism/exercism.io/pull/3096

This has been open since the beginning of the summer!

cc / @jendiamond

[2016-10-21 23:49] ryanponce commented on #116
Yo, I got this.

[2016-10-21 23:59] tyler-reitz commented on #111
thanks for the shoutout @machikoyasuda !!

[2016-10-22 05:33] machikoyasuda opened #121 "Where do I find an organized, curated up-to-date list of Awesome Open Source projects to contribute to?"
#### User stories

As a _overwhelmed, busy **person** with a burning desire & finite time to contribute to open source_,
I want _a curated, organized, up-to-date, **easy to read list** of non-sketchy, fun, inclusive, well-maintained projects looking for help_,
so that _my pair and I can get contributing faster_.

As a _overwhelmed, busy **maintainer** with a burning desire & finite time to contrib

[2016-10-22 05:38] machikoyasuda commented on #121
We, the meetup organizers & contributors, will start maintaining and moving this Awesome @jdorfman list: https://github.com/jdorfman/awesome-help-wanted

[2016-10-22 20:22] machikoyasuda commented on #111
Tagging @aoushana  - RSVP here http://www.meetup.com/la-fullstack/

[2016-10-25 18:20] machikoyasuda commented on #116
Yay for the enthusiasm Ryan. Lets all interest contributors sit down to wireframe, write a few user stories (tasks) and break it down into issues. Then we will ~~ pair ~~ up into twos and work on them together. Santa Monica next week!!

On Fri, Oct 21, 2016 at 4:49 PM -0700, "Ryan Ponce" notifications@github.com wrote:

Yo, I got this.

—
You are receiving this because you authored the thread.
Rep

[2016-10-26 00:27] machikoyasuda opened #122 "📅❄️ FULLSTACK IRL WINTER BREAK IS COMING."
### End of 2016:
- Last Downtown 🏙 meetup: Nov 30th
- Last Santa Monica 🌴 meetup: Dec 7th
### Start of 2017:
- First Santa Monica 🌴 meetup: Jan. 11
- First Downtown 🏙 meetup: Jan. 18
  (This looks incorrect but is accurate due to the new logic, see below)
### 2017 schedule logic:
- Downtown 🏙: on the 1st and 3rd Wed.
- Santa Monica 🌴: the other ones

[code]
### ❄️ Winter Break 2016 ❄️
1. Try remot

[2016-10-26 00:28] machikoyasuda opened #123 "H O L I D A Y party"
Is coming soon.

[2016-10-26 00:38] machikoyasuda opened #124 "Should we have a meetup the Wednesday before Thanksgiving?"
Respond in Emojis, thumbs up or down:

[2016-10-26 00:39] machikoyasuda commented on #124
@pivotaljohn @kpearson Should we have a Fullstack at Pivotal the Wed. before Thanksgiving? The car traffic might be terrible.

[2016-10-26 00:44] machikoyasuda commented on #117
<3 <3 <3
closing this for the time being
<3 <3 <3

[2016-10-26 00:44] #117 closed, assigned to nobody

[2016-10-26 22:01] kpearson commented on #122
### 📆  Fullstack calendar
- Google calendar link:
  https://calendar.google.com/calendar/embed?src=lh8vmi75156u0gs1lfoit346r8%40group.calendar.google.com&ctz=America/Los_Angeles
- Subscribe link: https://calendar.google.com/calendar/ical/lh8vmi75156u0gs1lfoit346r8%40group.calendar.google.com/public/basic.ics

[2016-10-27 02:33] IanDCarroll commented on #111
Sorry I can't be there. Submit an extra PR for me! :jack_o_lantern: get a t-shirt!

[2016-10-27 02:34] IanDCarroll commented on #111
Hey... is that date right? Or is FullStack Santa Monica on Thursday?

[2016-10-27 02:39] IanDCarroll commented on #124
If you got no family nearby :bowtie: otherwise: :sweat:
I'm more worried that the Organizers will burn themselves out

[2016-10-27 12:41] jtigger commented on #111
@IanDCarroll date was off-by-one... clearly some programmer did it. ;)  Missed you last night!

[2016-10-27 12:42] jtigger commented on #111
While not our golden delivery PR, @MalcolmGC and I submitted an adjustment to the readme (his first!): https://github.com/concourse/s3-resource/pull/57

[2016-10-27 18:54] machikoyasuda commented on #124
Seems like it's decided: We are not going to have a meetup at Pivotal the Wed. before Thanksgiving.

I'm gonna be hunkering down at my computer waiting for Black Friday to blow up my work servers :)  ... so Wed-Before-TG 🦃  is hard for me too.

[2016-10-27 18:54] machikoyasuda commented on #124
@kpearson lets cancel the meetup Wed. before TG!!!

[2016-10-27 18:54] #124 closed, assigned to nobody

[2016-10-27 18:55] #121 closed, assigned to nobody

[2016-10-27 19:21] machikoyasuda commented on #111
@kpearson who was your pair? what did you work on?

[2016-10-27 19:22] machikoyasuda commented on #99
@jdorfman @IanDCarroll Are you gonna bring an Arduino to next week to the next Fullstack?

[2016-10-27 19:24] machikoyasuda commented on #75
@jdorfman Ready for Nov 2?? Or should we do an Arduino demo instead??

[2016-10-27 19:25] jdorfman commented on #99
@machikoyasuda oh yeah, I will be adding lessons to https://github.com/jdorfman/arduino-basics as well and would like to pair with @IanDCarroll on writing them.

[2016-10-27 19:26] jdorfman commented on #99
@machikoyasuda the idea is anyone can hook up my Arduino to their laptop and if they like it, then they can get their own and bring it to the next meetup

[2016-10-27 19:27] jdorfman commented on #99
@gr2m I could use your help with the GitHub API...

[2016-10-27 19:33] IanDCarroll commented on #99
@jdorfman do you want to start pairing on this at the meetup? or meet ahead of time so we have something to show?

[2016-10-27 19:33] jdorfman commented on #75
@machikoyasuda totally dropped the ball on this. Personally I think Arduino would better. I will do a 2-3 min lightning talk/pitch on what we can do with Javascript & hardware.

[2016-10-27 19:36] jdorfman commented on #99
ahead of time would be great. I get home tonight from NC but Friday, Sunday, Monday @ night work. Plus you have Ubuntu so I want to make sure we can get this setup before.

[2016-10-27 19:46] IanDCarroll commented on #99
@jdorfman I got all of Friday free and Saturday/Sunday evenings. We could take multiple sessions if need be. I'd like to have something ready to rock by show time.

Any ahead of time solo prep I can do to get up to speed more quickly for the session(s)?

[2016-10-27 20:20] gr2m commented on #99
@jdorfman happy to help with the GitHub API :) I might hack a little service together that just works in-memory for the time of the event. If we could ping an arduino or sth similar via HTTP that’d be the simplest :)

Also instead of hacking the service together, might as well coach people to do it if anyone is interested. Here is how I would approach this roughly. This is not super elegant as it

[2016-10-27 20:43] IanDCarroll commented on #99
@gr2m Do we have the people/time resources to do all that by Wednesday?

[2016-10-27 20:48] machikoyasuda commented on #99
@gr2m @IanDCarroll sounds like we got a great meetup plan for Wednesday. we can make backend teams, front end teams, teach how to use APIs, teach how to do the hardware stuff, teach ppl how to work agile in real life. ...!

[2016-10-27 21:19] gr2m commented on #99
yeah I’d try to do it during a wednesday. We can prepare it ahead of time like creating a repository, creating the issues. We could also do some research for the hardware part because I don’t know how that will work, but it’s not required and can be added later

[2016-10-27 23:22] server-monitor commented on #99
This is awesome. I'd love to join.

[2016-10-27 23:28] machikoyasuda opened #125 "✨Your First Project✨ Who wants to learn HTML/JS to make a beautiful site for our community members?"
#### User story

As a avid meetuper/organizer/person-who-likes-to-make-things-happen,
I want to see all of these people's self-written stories,
so I can learn people's names & stories & origins better.... and I can teach someone how to make use JavaScript to make an AJAX request to the GitHub API to make this site happen for reals.

#### Sketch it out

Someone wanna sketch a wireframe out of this

[2016-10-29 03:28] jdorfman commented on #75
@machikoyasuda

![image](https://cloud.githubusercontent.com/assets/398230/19826913/a30748f4-9d4c-11e6-85b3-59c0e780271b.png)

@IanDCarroll and I are hard at work

[2016-10-30 04:10] machikoyasuda opened #126 "💯 Write funner, better culturally-relevant, mind-expanding, interesting Exercisms 🗓"
### User story

As a **person who appreciates non-Western date formats**,
I **want to come up with an excuse to write code in different languages**,
So I **wrote this issue to intrigue Fullstack-ers**:
### Exercism problem submission idea:
- Write a problem that asks the user to turn a Western year format (e.g. 2012) into a Japanese format (平和　２６）and other non-Western formats.
### Start:
- https:/

[2016-10-30 04:14] machikoyasuda opened #127 "✨ Your First Fix ✨ Hot fix this Exercism.io homepage bug"
#### User story

As a total **grammar nerd**,
I **noticed there is a straight quote instead of a smart quote on Exercism.io**,
and I want someone to make an issue and fix it :)
#### How to replicate
1. Go to http://exercism.io/
2. Look at that button
   ![screenshot 2016-10-29 21 12 03](https://cloud.githubusercontent.com/assets/3673236/19834447/9947938e-9e1c-11e6-823c-33d69e840194.png)
3. Command

[2016-10-30 04:14] machikoyasuda commented on #127
@lawlessghost I made a issue for you!!

[2016-10-30 05:44] machikoyasuda commented on #79
Moving this forward to 2017 when people are less busy.

[2016-10-30 05:45] machikoyasuda commented on #76
What is the blocker on this? @kpearson

[2016-10-30 05:47] machikoyasuda commented on #75
⚡️ Talk <3

I'm gonna do a 2-3 min talk after you on switching to using OSS platforms :)

[2016-10-30 05:47] #75 closed, assigned to nobody

[2016-10-30 05:49] machikoyasuda commented on #111
@zachgersh @jtigger hi zac & john, did any other PRs get merged/pushed up from the other week?

Also, do you remember any other github handles of attendees?

Ps... Go is GOAT 🐐

[2016-10-30 05:49] #111 closed, assigned to nobody

[2016-10-30 05:50] #123 closed, assigned to nobody

[2016-10-30 06:09] machikoyasuda opened #128 "Show Notes ⚡️📻 11/2 @ Downtown"
## Stand up
- **Last week's show**: At last week's Santa Monica show, sponsored by Pivotal Labs, our favorite local [Rubyist-turned-Go-langer](http://zachgersh.github.io/) 🐐 @zachgersh (DBC '13 alumni) showed us the ropes of continuous integration, a code deploying tool from Pivotal. We worked on things like Go, S3, and more acronyms. Check out last week's show notes for more: https://github.com/f

[2016-10-30 07:17] machikoyasuda opened #129 "✨Your First Script✨ Sorting something."
#### User story

As an avid music fan and obsessive organizer,
I want to alphabetize my music playlist artist list name,
so that I can come up with an excuse to ask someone to brainstorm a sorting script on a whiteboard. 😂

#### Current behavior

Sorting it alphabetically by hand.
#### Your environment

Surrounded by a lot of people with laptops who are learning to code/like to code...maybe a whit

[2016-10-30 10:10] machikoyasuda opened #130 "✨ Your First Fix ✨ Add commas in big numbers to make numbers more readable on Exercism.io"
#### User story

Congrats! Exercism.io is doing so well, look how many people have made code samples:
![screenshot 2016-10-30 03 08 54](https://cloud.githubusercontent.com/assets/3673236/19835868/4317786c-9e4e-11e6-9be4-18abc409938a.png)
But those numbers are hard for me to read because there are no commas.
#### Current behavior

#### Your environment

- Version used:
- Environment name and versio

[2016-10-30 13:49] IanDCarroll commented on #126
I've played with this idea before: worked on Traditional Chinese DateTime (https://github.com/IanDCarroll/TemporalConverter). I suppose I could write a test script for someone to code against...

[2016-10-30 19:27] jtigger commented on #111
@machikoyasuda I didn't see any other PRs go through.  I didn't collect github nicks.

[2016-10-31 16:05] jdorfman commented on #75
@machikoyasuda sounds awesome. I promise @IanDCarroll and I won't disappoint!

[2016-11-01 23:45] machikoyasuda opened #131 "Should we livestream our meetup? For people who work remotely?"
@kpearson
@kpearson
@kpearson
@kpearson
@kpearson
@kpearson

[2016-11-02 01:30] jcblw commented on #128
Hmm vintage jQuery plugins that could be fun. 😂 How long the mini talks usually? @machikoyasuda

[2016-11-02 02:03] xuhdev commented on #128
Looks interesting... But can't be there :(

[2016-11-02 04:55] machikoyasuda commented on #128
@jcblw 5 min?!? max? but more, if you have screenshots from the 00s on vintage coding styles. like Notepad.

[2016-11-02 05:53] kpearson commented on #131
I've been thinking about this. I want to do it. The only thing is the technical overhead. Personally, I'm not ready to take it on at the moment. 

I'm thinking, if it's up to me to facilitate, I'd be ready to get it up and running in 6 months. 

The blocks are:
- Technical. Either we spend on some key equipment or it looks/sounds not great. 
- Focus. Any time I've seen it done there are problems w

[2016-11-02 12:16] machikoyasuda commented on #131
We have one Hoodie contributor in Nigeria interested to remotely participate in our show tonight. I will try to livestream him in via Skype on my phone. 

On Tue, Nov 1, 2016 at 10:53 PM -0700, "Kit Pearson" notifications@github.com wrote:

I've been thinking about this. I want to do it. The only thing is the technical overhead. Personally, I'm not ready to take it on at the moment. 

I'm thinking

[2016-11-02 13:27] machikoyasuda opened #132 "Add and congratulate new Exercism team mates"
Add Peter to team

[2016-11-02 13:28] machikoyasuda opened #133 "Should we go to OWASP meetup? Open source security meetup"
What is SSL?

idunno

Should we go? Who wants to carpool?

http://www.meetup.com/OWASP-Los-Angeles/events/227924004/

[2016-11-02 13:30] machikoyasuda opened #134 "✨Your First Project ✨Clock web app, for people with friends and family in different time zones"
First use case: As a meetup organizer of a meetup with participants from Around the World,
I want to quickly see what time it is for them,
so i dont wake them up.

We will use this clock web app to see what time it is in Lagos.

[2016-11-02 13:30] machikoyasuda commented on #134
@pmbaungo

[2016-11-02 13:31] machikoyasuda commented on #134
@pmbanugo

[2016-11-02 13:31] machikoyasuda commented on #132
@pmbanugo @lawlessghost

[2016-11-02 14:50] kpearson commented on #131
Awesome. What about using facebook or youtube streaming? YouTube would be my first thought because it's publicly available and is viewable after the event.

Btw: today is my birthday 🎉and I'm planning on going tonight to support Ian and Justin, who are apparently giving a talk. 

— Kit

On Wed, Nov 02, 2016 at 5:16 AM Machiko Yasuda

<
mailto:Machiko Yasuda notifications@github.com

a, pre, code,

[2016-11-02 16:24] machikoyasuda commented on #131
@pmbanugo What if I Skype'd you in from a MacBook Air? Or can you use Facebook Live or YouTube Live? Do those websites render well in Nigeria?

cc / @server-monitor

[2016-11-02 16:26] machikoyasuda commented on #131
It would be cool if people can Skype in and listen to the talks.. and then some people can Pair Program with the Skypers via Screenhero or something.

[2016-11-02 16:30] machikoyasuda opened #135 "✨Your First Design/UX/Product Meeting✨ How can we improve the onboarding first page of Exercism.io?"
As a first-time web newbie who has never used or heard of GitHub.com before,
I get intimidated and confused when Exercism.io demands that I log in Via Github.
I wish the first onboarding page of Exercismio explained how fun Github is,
before I sign up.

What are some illustrations,
design patterns,
colors,
font schemes,
text,
gifs,
animations,
screenshots,
screenshot gifs,
beautiful-shit-there-ain

[2016-11-02 16:35] machikoyasuda commented on #133
@server-monitor have you ever been to http://www.meetup.com/OWASP-Los-Angeles/ ?

[2016-11-02 16:40] machikoyasuda commented on #135
@jtigger https://github.com/exercism/exercism.io/projects/1

Hey @jtigger, at Fullstack Downtown, we will be workshopping this exact question tonight. Or maybe in December. Maybe we can do this at Pivotal Labs in December in SaMo.

[2016-11-02 16:58] kpearson commented on #76
Editing. :-/

— Kit

On Sat, Oct 29, 2016 at 10:45 PM Machiko Yasuda

<
mailto:Machiko Yasuda notifications@github.com

a, pre, code, a:link, body { word-wrap: break-word !important; }

What is the blocker on this?
https://github.com/kpearson

—

You are receiving this because you were mentioned.

Reply to this email directly,
https://github.com/fullstackla/pairing-meetup/issues/76#issuecomment-25

[2016-11-02 17:00] machikoyasuda commented on #76
Can you send me a few stills for now? So we can have a placeholder for our "Video coming soon" page to send to Outreachy/Homebrew.

[2016-11-02 17:12] #132 closed, assigned to nobody

[2016-11-02 17:13] machikoyasuda commented on #135
Somewhat related: Here's a new issue we can work on https://github.com/exercism/exercism.io/issues/3228

We can then watch first-time Exercism contributors people read the CONTRIBUTING.md

Then we can suggest suggestions to https://github.com/exercism/exercism.io/projects/1 to improve the Documentation.

And thennnn someone can add the TEAM STREAM url in the nav bar, so I can get to it faster, so

[2016-11-02 19:25] machikoyasuda commented on #128
hi @pmbanugo - @gr2m cannot make it tonight...so instead of Skypeing you in live this time around, we can do this next Wednesday or the Wednesday after that!? and in the meantime, i will keep you updated on our App progress via GitHub & Hoodie Slack <3 <3

I will also make sure to send any Hoodie newbies your tutorial: https://www.codementor.io/offlinefirst/tutorial/build-offline-smart-web-apps-wi

[2016-11-02 20:27] gr2m commented on #128
I can make it after all :) yay \o/

[2016-11-02 21:35] kangashley commented on #133
Came across OWASP today, too! Count me in 🙋🏻

[2016-11-02 22:47] machikoyasuda commented on #98
@xyzzyismagic ideas?
we have $$ from Sticker Mule

[2016-11-02 22:59] machikoyasuda commented on #98
@xyzzyismagic https://www.stickermule.com/

[2016-11-02 23:00] machikoyasuda commented on #98
@xyzzyismagic Can you write me a list of materials I should give you to start a logo/branding client/designer conversation?

[2016-11-03 02:59] pmbanugo commented on #128
@machikoyasuda @gr2m  hi, waiting to be skyped right in :)

Weather is usually hot this period. Sometimes it get's dark like it's going rain but never will. Normally hot and sunny.

[2016-11-03 03:33] jdorfman commented on #128
@machikoyasuda
- [Arduino Basics Repo](https://github.com/jdorfman/arduino-basics)
- [Slides](https://speakerdeck.com/jdorfman/annoying-dot-js)

[2016-11-03 08:01] server-monitor commented on #133
@machikoyasuda no I haven't. Looks interesting.

[2016-11-03 12:56] jtigger commented on #135
@machikoyasuda the scenario of a new Exercism user who does not already have a GitHub account is particularly challenging.

I believe the GitHub sign-up flow intends to get the user back to where they came from once that person completed the account creation; but that wasn't my experience (I tried out that flow yesterday morning for research on a separate issue).  Instead, I got stopped at the poi

[2016-11-03 15:59] machikoyasuda commented on #131
what is our livestream and youtube url?

[2016-11-03 17:56] kpearson commented on #131
YouTube channel      = https://www.youtube.com/channel/UCfd8oMIrcWnJ8DbN__C5Fow
YouTube Livestream = http://www.youtube.com/channel/UCfd8oMIrcWnJ8DbN__C5Fow/live

To get a custom YouTube url we need 100+ subscribers. https://support.google.com/youtube/answer/2657968?hl=en

[2016-11-03 18:50] machikoyasuda commented on #131
✔️

[2016-11-03 18:50] #131 closed, assigned to nobody

[2016-11-03 18:59] machikoyasuda opened #136 "Step 1, Being a client in a branding meeting. Getting branded."
#### User story
As a developer/meetup organizer who really wants pretty visuals but can't quite find the words for it,
I need to make a list of all the assets we need from a design,
so that we know what dimensions we are working with.

### "Deliverables"
1. List of all assets needed in what formats (jpg, png, gif), and what dimensions (square or rectangle)
2. List of inspirational websites we like

[2016-11-03 19:07] machikoyasuda commented on #136
# List 1: Visual Requirements

### GRAPHICS, SQUARE
1. GitHub icon
2. Twitter icon
3. YouTube icon

### GRAPHICS, RECTANGLEY
1. Twitter banner
2. YouTube banner
3. Meetup banner

### MOTION GRAPHICS, RECTANGLEY
1. YouTube title page

# List 2: Stuff that makes us ✨⚡️
- Machiko:
- Kit @kpearson: List URLs you like here

# List 3: "Deliverables"

### What we want
1. E-mail newsletter sign-up situati

[2016-11-03 19:10] machikoyasuda commented on #136
@kpearson put your Internet Inspirational pages/links/color combos/typefaces you like here please!

Also you can put stuff you do NOT like too.

[2016-11-03 19:10] #128 closed, assigned to nobody

[2016-11-03 19:31] xyzzyismagic commented on #98
@machikoyasuda
- If you want a material that both sticks well and is easily removed from laptop surfaces, I recommend vinyl. This is probably the costliest solution.
- If you want something cost-effective, I'd look into getting a roll of [wall-pops](http://www.wallpops.com/white-dry-erase-decal.aspx), dry-erase sticker and cut it down for people to write on.
- If you want to use Sticker Mule since

[2016-11-03 19:39] xyzzyismagic commented on #136
@machikoyasuda @kpearson

Are ya'll asking me to brand your meetup or for advice/perspective on how to communicate your needs in a brief meant for a designer?

[2016-11-03 19:43] pmbanugo commented on #131
@machikoyasuda I have a good connection and live streaming from any platform will work well except for some bad days of bad network connection.

I see actions has been taken towards this notion and I appreciate the effort :) @machikoyasuda @kpearson

aside from live streaming (which is cool), getting the feeling of presence through skypeing and taken part in the social session (talking to people l

[2016-11-03 19:49] pmbanugo commented on #133
go take a look @machikoyasuda i think you'll come out with some new perspective

[2016-11-03 22:42] machikoyasuda commented on #136
@xyzzyismagic Both.

We are devs learning how to talk ~design~, in an open source way (aka doing it in the Public, not in Private Emails or Private Places that No One Else Can Learn From.)

[2016-11-03 22:42] machikoyasuda commented on #136
@xyzzyismagic kinda like the StartUp Podcast, the Podcast About Starting a Podcast Company. Or something meta like that.

[2016-11-08 18:21] machikoyasuda opened #137 "Show Notes ⚡️📻 11/9 @ Santa Monica"
## Stand up
- **Shout out** to @jcblw && @blackcathacker from last week's downtown meetup for ⛵️-ing a Team menu bar link on Exercism.io's homepage. Check it out live: http://exercism.io/

![screenshot 2016-11-08 10 18 13](https://cloud.githubusercontent.com/assets/3673236/20111314/bb29e8e4-a59c-11e6-8551-2cbefc70fcd0.png)

We tested it, and the Team names are emoji-compatible.

- **Last week's Sa

[2016-11-08 18:22] machikoyasuda commented on #137
@jtigger @pivotaljohn

I have made special First Timer's Only exercism issues & challenges:

https://github.com/fullstackla/pairing-meetup/issues/127

https://github.com/fullstackla/pairing-meetup/issues/126

[2016-11-08 18:25] jcblw commented on #137
Just wanna say @blackcathacker helped out quite a bit with that PR 🙌 pairing FTW

[2016-11-10 04:12] gr2m commented on #125
here is a simple prototype to load the profiles directly from GitHub
https://github.com/gr2m/github-community-list

[2016-11-10 17:15] machikoyasuda commented on #137
hi @arunkhanna00 - were you working on the community page yesterday? would you mind pushing up that repository somewhere on github so others can take a look and help out? <3

[2016-11-10 17:16] machikoyasuda commented on #137
@kpearson can you add any other github handles of other contributors from yesterday?

[2016-11-10 17:32] machikoyasuda opened #139 "Kit Pearson is not in the directory"
As a meetup attendee,
I want to learn more about my meetup organizers,
so I can get to know them better.

Kit: Add yourself here please: https://github.com/fullstackla/pairing-meetup/tree/master/community

[2016-11-10 17:34] machikoyasuda opened #140 "Make instructions for First-Timers"
#### User story

As a first-timer,
I want to know what to do and how,
so I can feel included in the community faster and learn GitHub and learn faster.

#### Brainstorming:
1. Add directions to Community folder
2. Add "tracks" - Exercism problem solving track, Make Your First Website track, Make Your First Hot Fix track, Make Your First Issue track, Make Your First Pull Request Track...

---

[Mad

[2016-11-10 17:58] machikoyasuda opened #141 "Create a timeline & map of Meetup Organizing in LA"
#### User story

As a newbie to the LA tech community,
I want to see a timeline of the tireless work of organizers here,
so I can get a better sense of the badass community that is here.

#### Started

- Here https://github.com/fullstackla/pairing-meetup/blob/master/squad/timeline.md
---

[Made at Fullstack](https://github.com/fullstackla/pairing-meetup) :zap:

[2016-11-10 17:59] machikoyasuda commented on #141
@jendiamond What year did RailsBridge happen?

What year did LA Ruby Women start?

[2016-11-10 17:59] machikoyasuda commented on #141
@learningnerd What year did you start Learn to Code LA? Did I get it right?

[2016-11-10 18:03] machikoyasuda commented on #141
@leighphan hey look leigh - i'm recounting the history of LA organizing :) eventually this will turn into a timeline/map/list of people/faces.

[2016-11-10 20:52] LearningNerd commented on #141
@machikoyasuda Jan 31st 2015 :)

[2016-11-11 19:59] machikoyasuda commented on #141
Updated: https://github.com/fullstackla/pairing-meetup/blob/master/squad/origins.md

[2016-11-11 20:50] machikoyasuda opened #142 "2017 idea: SGV edition"
http://www.latimes.com/local/california/la-me-silicon-san-gabriel-valley-20160430-story.html

[2016-11-11 23:34] machikoyasuda commented on #125
Forked here http://github.com/kevinpagtakhan/github-community-list/commit/a17eaea70fb3e05b6cc23e21b64b37f22a48c2d0

[2016-11-12 02:21] machikoyasuda commented on #125
Look what we have so far here: https://gr2m.github.io/github-community-list/

Tasks now:
- HTML/CSS/design ideas
- Cache the API
- Write a spec that tests that each MD file has a # H1 header

[2016-11-12 20:29] akhanna00 commented on #137
Hmm, I'm pretty sure @kevinpagtakhan pushed it...

[2016-11-14 18:10] machikoyasuda commented on #137
@arunkhanna00 @kevinpagatkhan @gr2m and i merged y'alls CSS changes and picked it up from there: https://gr2m.github.io/github-community-list/

[2016-11-14 18:10] #137 closed, assigned to nobody

[2016-11-15 19:18] #139 closed, assigned to kpearson

[2016-11-16 19:48] machikoyasuda opened #145 "Show Notes ⚡️📻 11/16 @ Downtown"
## Stand up

[![screenshot 2016-11-16 11 36 20](https://cloud.githubusercontent.com/assets/3673236/20362737/7411f176-abf1-11e6-89ff-fb3d40862c76.png)](http://gr2m.github.io/github-community-list/)

- **Last week - Let's make stuff**: Shout out to @kevinpagtakhan & @arunkhanna00 for getting the ball rolling on our community page with this Pull Request: https://github.com/gr2m/github-community-list/

[2016-11-16 19:55] mikeal commented on #145
wow, double shout out, thanks! :)

[2016-11-17 20:17] server-monitor commented on #141
Timeline you say? I made a small app graphing the timelines/Yes RSVPs of a few of LA's most awesome meetups.

https://server-monitor.github.io/timelines/

[2016-11-17 22:00] machikoyasuda commented on #141
@server-monitor OMG!

[2016-11-24 02:02] #133 closed, assigned to nobody

[2016-11-24 02:02] #136 closed, assigned to nobody

[2016-11-24 02:02] #142 closed, assigned to nobody

[2016-11-24 02:02] #145 closed, assigned to nobody

[2016-11-24 02:03] machikoyasuda commented on #141
@server-monitor how did you make that? why's the javascript all minified and unreadable?

[2016-11-24 09:05] rouzbeh84 commented on #133
so no go? looks pretty interesting haha

[2016-11-24 13:07] server-monitor commented on #141
@machikoyasuda It defaults to gh-pages branch, the build branch. There's a master branch which contains source, which is a mess and not that different from the minified version :)

I used create-react-app to create this. As far as I know, the only way to run this app locally is to create an app using create-react-app, clone the repo, copy the repo files into the newly created create-react-app app,

[2016-11-30 20:18] #140 closed, assigned to machikoyasuda

[2016-11-30 20:18] #141 closed, assigned to nobody

[2016-11-30 20:25] machikoyasuda opened #148 "Show Notes ⚡️📻 11/30 @ Downtown"
## Stand up

- How should we improve this page? How can we open source and share this project so other meetup groups can make pages like this of themselves?

- 📅 Fullstack Winter Break: https://github.com/fullstackla/pairing-meetup/issues/122

## Open source picks!
- @gr2m wrote a sauce labs thing: https://github.com/gr2m/selsa
- @cityhubla digs into LA data and maps it: https://cityhubla.github.i

[2016-11-30 22:16] gr2m commented on #148
miss you all :wave: Have a great time tonight ;)

[2016-12-01 02:09] server-monitor commented on #148
Regarding no. 4, I have a small React app [here](https://github.com/server-monitor/timelines). The demo is [here](https://server-monitor.github.io/timelines/). This app shows the timelines/Yes RSVPs of some of the meet up groups around the area. It's nothing serious. I built it to learn about React.

The repo is a gigantic mess but if there's enough interest, I'll try to clean it up a little bit.

[2016-12-01 05:33] dcmoore commented on #148
https://github.com/dcmoore/resilient-integration-workshop/commit/b7251a8cd600eac4c6d7fd170a0877a78ad06153

[2016-12-22 20:25] #148 closed, assigned to nobody

[2016-12-22 20:25] #122 closed, assigned to nobody

[2017-01-11 21:45] #60 closed, assigned to nobody

[2017-01-11 21:45] #79 closed, assigned to machikoyasuda, IanDCarroll

[2017-01-11 21:45] #84 closed, assigned to nobody

[2017-01-11 21:45] #98 closed, assigned to nobody

[2017-01-11 21:45] #99 closed, assigned to nobody

[2017-01-11 21:45] #116 closed, assigned to nobody

[2017-01-11 21:45] #125 closed, assigned to nobody

[2017-01-11 21:45] #126 closed, assigned to nobody

[2017-01-11 21:45] #127 closed, assigned to nobody

[2017-01-11 21:45] #129 closed, assigned to nobody

[2017-01-11 21:45] #130 closed, assigned to nobody

[2017-01-11 21:45] #134 closed, assigned to nobody

[2017-01-11 21:47] machikoyasuda commented on #76
@kpearson What is the status on this?

1. What is our YouTube URL? (doesn't have to be a vanity URL)
2. Is the video up somewhere? I searched all sorts of words and nothing came up.

[2017-01-11 21:47] machikoyasuda commented on #76
for now, we can link these 2:
https://speakerdeck.com/eirinikos/fullstack-2016-08-24-contributing-to-homebrew

https://eirinikos.github.io/2016/08/17/fullstack-q-a/

and we can have copy that says "Video to come."

[2017-01-11 21:49] machikoyasuda opened #149 "Show Notes ⚡️📻 1/11 @ 8th Light Downtown"
## Stand up

- How should we improve this page? How can we open source and share this project so other meetup groups can make pages like this of themselves?

## Open source picks!
- @gr2m wrote a sauce labs thing: https://github.com/gr2m/selsa
- @cityhubla digs into LA data and maps it: https://cityhubla.github.io/lacity_exploration_12/#13.08/34.1389/-118.2547

## Where to start:
1. Completely new

[2017-01-11 22:47] dopatraman commented on #149
@dopatraman - I'll be working on a slackbot that can order pizza

[2017-01-11 23:21] xuhdev commented on #149
For any new contributors: There is a typo in the [fullstack LA code of conduct](https://github.com/fullstackla/fullstackla.github.io/blob/master/code-of-conduct.md): The word "religion" should be in the sublist of " + offensive verbal comments related to".

[2017-01-11 23:24] machikoyasuda commented on #149
https://github.com/fullstackla/fullstackla.github.io/pull/45 hi @xuhdev we missed you a lot

[2017-01-11 23:53] xuhdev commented on #149
hi @machikoyasuda gonna be there today!

[2017-01-12 18:29] machikoyasuda commented on #149
@dcmoore & @xuhdev & i paired on these commits in Clojure:
https://github.com/dcmoore/resilient-integration-workshop/commit/65e2143bc809324f8e71b3d85fd4a4a655e01520

https://github.com/dcmoore/resilient-integration-workshop/commit/8d5b114620236e1f6d16ca643a4b76523e4d822e

and i learned `git diff --cached`

and i learned you can change the git authors manually. doesn't show up on github though (yet

[2017-01-12 18:29] #149 closed, assigned to nobody

[2017-01-24 01:08] machikoyasuda commented on #135
Reopening this issue for consideration as a Fullstack project for people interested in:
- learning how to conduct UX user experiements
- learning how to lead a design meeting, a product meeting
- learning how to talk to product owners/open source maintainers
- learning how to work on your first Front-End task for a open source project

CC @leighphan

[2017-01-25 23:39] leighphan commented on #135
+1! Learning how to use exercism.io *and* GitHub for the first time last year, I personally encountered this confusion and observed it in others' experiences too.

I'm all for adding some kind of quick demo of what GitHub is + how it works + why it's awesome. Showing > telling. Maybe a video clip? Of course GitHub takes a little practice to get used to, but a high-level demo could work. :nerd_face

[2017-02-01 00:41] machikoyasuda opened #150 "Today's Fullstack ⚡️📻 Show Notes 2/1 @ Carbon 5"
## Stand up

- How should we improve this page? How can we open source and share this project so other meetup groups can make pages like this of themselves?

## Open source picks!
- @gr2m wrote a sauce labs thing: https://github.com/gr2m/selsa
- @cityhubla digs into LA data and maps it: https://cityhubla.github.io/lacity_exploration_12/#13.08/34.1389/-118.2547

## Where to start:
1. Completely `ne

[2017-02-02 04:37] dorachan2000 commented on #150
[link to pull request!](https://github.com/exercism/exercism.io/pull/3370)

[2017-02-02 04:40] dorachan2000 commented on #150
test
[](https://github.com/exercism/exercism.io/pull/3370)

[2017-02-09 18:08] machikoyasuda commented on #135
closing this for now

[2017-02-09 18:08] #135 closed, assigned to nobody

[2017-02-27 18:32] #150 closed, assigned to nobody

[2017-02-27 18:45] dorachan2000 opened #151 "Show Notes ⚡️📻 3/1 @ Santa Monica - Pivotal Labs"
## Stand up

## ⭐️ This week's picks
1. 🎵 Rad open project of the month: Ukulele chords by @jdobrowner + @mzarako https://jdobrowner.github.io/learn-ukulele/ at https://github.com/jdobrowner/learn-ukulele using https://github.com/Tonejs/Tone.js/
2. 🗺 Rad project from meetup fam @codelaboc: Stormwater Data Challenge map https://codelaboc.github.io/CA-Stormwater-Data-Challenge/

![screenshot 2017-02

[2017-02-27 18:46] machikoyasuda commented on #151
some links to add from last week in LA's open source world:
- https://welcome-to-open-source.github.io/ucla/

some places to look for new issues in the LA open source world:
- js https://github.com/reactioncommerce/reaction/issues

[2017-02-27 18:48] machikoyasuda commented on #151
Exercisms to check out and nitpick:
- hello world in clojure by @blackcathacker http://exercism.io/submissions/8dbf266ed780417c8b51d3979f164132
- check out the latest Ruby auto-nitpick on @kpearson's latest submission
http://exercism.io/submissions/ba352d6f3b9b40e5ac95cbffb1f67a86

- Are you in our Exercism team? http://exercism.io/teams/dtla-pair-programming/streams

[2017-02-27 19:56] machikoyasuda commented on #151
cool project of the month: https://jdobrowner.github.io/learn-ukulele/

[2017-02-27 20:32] machikoyasuda commented on #76
Youtube Link for Andrea's is here https://www.youtube.com/watch?v=sMhodgiWyhk

[2017-02-27 20:37] machikoyasuda opened #152 "Make `Your First Meetup` instructions"
#### User story

As a meetup organizer,
I want a central place to direct newbies,
so they can get onboarded quickly to Fullstack.

#### Current behavior

#### Your environment

* Version used:
* Environment name and version (e.g. Chrome 39, node.js 5.4):
* Operating System and version (desktop or mobile):

#### Additional context

#### Credits

paired with @github_handle

---

[Made at Fullstack](

[2017-02-27 20:39] machikoyasuda opened #153 "Make a page for how to run each meetup for anyone to take part in"
#### User story

As a (     ),
I want (     ),
so that (     ).

#### Credits

paired with @github_handle

---

[Made at Fullstack](https://github.com/fullstackla/pairing-meetup) :zap:

[2017-02-28 20:36] machikoyasuda commented on #151
check out the latest @Hoodiehq newsletter! i spy @xuhdev @Taekyoon @jimthoburn and others: http://us4.campaign-archive1.com/?u=12d36bbe9418ed6a43127cd62&id=96f23dea01&e=e5b554431f

[2017-04-06 01:51] kpearson opened #154 "Show Notes ⚡️📻 4/5 @ DTLA - 8th Light"
#### User story

As a (     ),
I want (     ),
so that (     ).

#### Credits

* @kpearson

---

[Made at Fullstack](https://github.com/fullstackla/pairing-meetup) :zap:

[2017-04-06 02:08] kpearson opened #155 "Show Notes ⚡️📻 7/5 @ DTLA 8th Light"
#### User story

As a (     ),
I want (     ),
so that (     ).

#### Credits

* @kpearson

---

[Made at Fullstack](https://github.com/fullstackla/pairing-meetup) :zap:

[2017-04-06 02:16] kpearson opened #156 "Show Notes ⚡️📻 10/4 @ DTLA 8th Light"
#### User story

As a (     ),
I want (     ),
so that (     ).

#### Credits

@kpearson

---

[Made at Fullstack](https://github.com/fullstackla/pairing-meetup) :zap:

[2017-04-06 03:58] dcmoore commented on #154
https://github.com/Mashape/microservices/pull/1
https://docs.google.com/presentation/d/1lf46UqqFHo3XrgEjx_KDpUKRN1XWZbsfaK3JV8GXQ70/edit?usp=sharing

[2017-04-07 02:58] machikoyasuda opened #157 "Show Notes 4/6 at 8th Light"
## first timers!!

@kevinkhuat
@byou7161
@schretzilla

## returnees

@Taekyoon
@jdorfman
@chrisdobler
@blackcathacker
@dorachan2000

yay!!!!

[2017-04-07 02:58] machikoyasuda commented on #157
@dcmoore what was that thing you were working on?

[2017-04-07 03:04] machikoyasuda commented on #157
@bingr001 and @blackcathacker worked on https://github.com/Parrit/Parrit/pull/50

[2017-04-07 03:09] #157 closed, assigned to nobody

[2017-04-07 03:10] #151 closed, assigned to dorachan2000

[2017-04-07 03:10] #152 closed, assigned to nobody

[2017-04-07 03:10] #153 closed, assigned to nobody

[2017-04-07 03:10] #154 closed, assigned to nobody

[2017-04-07 03:10] #155 closed, assigned to nobody

[2017-04-07 03:10] #156 closed, assigned to nobody

[2017-04-07 15:42] dcmoore commented on #157
@machikoyasuda
Mashape/microservices#1
https://docs.google.com/presentation/d/1lf46UqqFHo3XrgEjx_KDpUKRN1XWZbsfaK3JV8GXQ70/edit?usp=sharing

[2017-06-01 15:41] kpearson opened #158 "Show Notes ⚡️📻 6/7 @ Santa Monica - Pivotal Labs"
[Event page](https://www.meetup.com/la-fullstack/events/240451368/)

As a (     ),
I want (     ),
so that (     ).

## Attendees

@fullstackla/organizers

[Made at Fullstack](https://github.com/fullstackla/pairing-meetup) :zap:

[2017-07-06 01:36] #158 closed, assigned to nobody

[2017-07-06 01:38] machikoyasuda opened #159 "Show Notes ⚡️📻 7/5 @ DTLA 8th Light"
## Stand up

- How should we improve this page? How can we open source and share this project so other meetup groups can make pages like this of themselves?

## Open source picks!
- @gr2m wrote a GitHub app tutorial for Node.js: https://github.com/gr2m/github-app-example

## Where to start:
1. Completely new to coding? Start by pairing on Exercism puzzles.
2. First Timers Only: New to contributing

[2017-07-06 02:45] gr2m commented on #159
Here are some good resources to find good Open Source projects / issues to work on

- http://www.firsttimersonly.com/
- http://up-for-grabs.net/
- https://twitter.com/first_tmrs_only
- https://twitter.com/yourfirstpr
- https://github.com/showcases/great-for-new-contributors
- https://github.com/MunGell/awesome-for-beginners

Other resources

- https://opensource.guide/
- https://opensourcefriday.c

[2017-07-06 04:31] samnags commented on #159
I paired with Liz on Exercism. Thanks for having me!

[2017-07-10 16:59] #159 closed, assigned to nobody

[2017-07-10 17:07] LearningNerd commented on #159
Hey @samnags that was a great pairing session, good to meet you! :) Thanks @machikoyasuda and @kpearson for hosting!!

[2017-07-24 18:25] machikoyasuda opened #161 "Show Notes ⚡️📻 8/2 @ Santa Monica - Carbon 5"
## Stand up

- How should we improve this page? How can we open source and share this project so other meetup groups can make pages like this of themselves?

## Open source picks!
- @gr2m wrote a GitHub app tutorial for Node.js: https://github.com/gr2m/github-app-example

## Where to start:
1. Completely new to coding? Start by pairing on Exercism puzzles.
2. First Timers Only: New to contributing

[2017-07-24 18:34] jgravois commented on #161
thx @machikoyasuda! i'd be **happy** to help with <kbd>First Timers Only</kbd> questions!

[2017-08-03 23:24] #161 closed, assigned to nobody

[2017-11-07 17:52] #76 closed, assigned to nobody